@{
  ViewBag.Title = "ux/scroll";
}
<script type="text/lizard-config">
{
  url_schema: '/ux',
  viewName: 'uxScroll',
  models: {
    apis: [],
    filter: function(datas) {
      return {

      };
    }
  },
  view:{
    viewport: Lizard.T("viewportTmpl")
  },
  controller: '/webapp/demo2.1/webresource/controllers/ux/scroll.js'
}
</script>

<script id="viewportTmpl" type="text/lizard-template">
<div>
  <h3>contents</h3>
  <div style="height: 600px;">
  </div>
  <button class="js-jump-index">jump</button>
  <div style="height: 500px;">
  </div>
</div>
</script>
