body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../接机牌接车牌_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:23px;
    top:21px;
    width:320px;
    height:480px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:486px;
}

.u1 {
    position:absolute;
    left:2px;
    top:232px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../接机牌接车牌_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:23px;
    top:21px;
    width:320px;
    height:20px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:26px;
}

.u3 {
    position:absolute;
    left:2px;
    top:2px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../接机牌接车牌_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:27px;
    top:32px;
    width:2px;
    height:3px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:9px;
}

.u5 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../接机牌接车牌_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:35px;
    top:30px;
    width:2px;
    height:5px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:11px;
}

.u7 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../接机牌接车牌_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:31px;
    top:31px;
    width:2px;
    height:4px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:10px;
}

.u9 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../接机牌接车牌_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:39px;
    top:28px;
    width:2px;
    height:7px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:13px;
}

.u11 {
    position:absolute;
    left:2px;
    top:-4px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../接机牌接车牌_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:43px;
    top:26px;
    width:2px;
    height:9px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:15px;
}

.u13 {
    position:absolute;
    left:2px;
    top:-4px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:49px;
    top:25px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:109px;
    top:23px;
    width:209px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../接机牌接车牌_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:319px;
    top:26px;
    width:18px;
    height:9px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:15px;
}

.u17 {
    position:absolute;
    left:2px;
    top:-4px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../接机牌接车牌_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:336px;
    top:29px;
    width:3px;
    height:3px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:9px;
    height:9px;
}

.u19 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../接机牌接车牌_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:23px;
    top:41px;
    width:320px;
    height:44px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:50px;
}

.u21 {
    position:absolute;
    left:2px;
    top:11px;
    width:316px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u22_container {
    position:absolute;
    left:24px;
    top:42px;
    width:44px;
    height:42px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:50px;
    height:48px;
}

.u23 {
    position:absolute;
    left:2px;
    top:4px;
    width:40px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_line {
    background-image: url('../接机牌接车牌_files/u24_line.png');
}

.u24_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:44px;
}

.u24 {
    position:absolute;
    left:63px;
    top:41px;
    width:10px;
    height:44px;
    
}

.u25_line {
    background-image: url('../接机牌接车牌_files/u25_line.png');
}

.u25_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:44px;
}

.u25 {
    position:absolute;
    left:64px;
    top:41px;
    width:10px;
    height:44px;
    
}

.u26 {
    position:absolute;
    left:44px;
    top:110px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../接机牌接车牌_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:32px;
    top:95px;
    width:300px;
    height:44px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:50px;
}

.u28 {
    position:absolute;
    left:2px;
    top:14px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:44px;
    top:109px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../接机牌接车牌_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:290px;
    top:49px;
    width:42px;
    height:28px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:48px;
    height:34px;
}

.u31 {
    position:absolute;
    left:2px;
    top:8px;
    width:38px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../接机牌接车牌_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:242px;
    top:104px;
    width:26px;
    height:26px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:32px;
}

.u33 {
    position:absolute;
    left:2px;
    top:5px;
    width:22px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../接机牌接车牌_files/u32_normal.png');
}

.u34_container {
    position:absolute;
    left:292px;
    top:104px;
    width:26px;
    height:26px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:32px;
}

.u35 {
    position:absolute;
    left:2px;
    top:5px;
    width:22px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../接机牌接车牌_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:254px;
    top:104px;
    width:50px;
    height:26px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:32px;
}

.u37 {
    position:absolute;
    left:2px;
    top:5px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../接机牌接车牌_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:243px;
    top:105px;
    width:24px;
    height:24px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:30px;
    height:30px;
}

.u39 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../接机牌接车牌_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:284px;
    top:111px;
    width:12px;
    height:12px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:18px;
    height:18px;
}

.u41 {
    position:absolute;
    left:2px;
    top:-2px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../接机牌接车牌_files/u0_normal.png');
}

.u42_container {
    position:absolute;
    left:388px;
    top:21px;
    width:320px;
    height:480px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:486px;
}

.u43 {
    position:absolute;
    left:2px;
    top:232px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../接机牌接车牌_files/u2_normal.png');
}

.u44_container {
    position:absolute;
    left:388px;
    top:21px;
    width:320px;
    height:20px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:26px;
}

.u45 {
    position:absolute;
    left:2px;
    top:2px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../接机牌接车牌_files/u4_normal.png');
}

.u46_container {
    position:absolute;
    left:392px;
    top:32px;
    width:2px;
    height:3px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:9px;
}

.u47 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../接机牌接车牌_files/u6_normal.png');
}

.u48_container {
    position:absolute;
    left:400px;
    top:30px;
    width:2px;
    height:5px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:11px;
}

.u49 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../接机牌接车牌_files/u8_normal.png');
}

.u50_container {
    position:absolute;
    left:396px;
    top:31px;
    width:2px;
    height:4px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:10px;
}

.u51 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../接机牌接车牌_files/u10_normal.png');
}

.u52_container {
    position:absolute;
    left:404px;
    top:28px;
    width:2px;
    height:7px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:13px;
}

.u53 {
    position:absolute;
    left:2px;
    top:-4px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../接机牌接车牌_files/u12_normal.png');
}

.u54_container {
    position:absolute;
    left:408px;
    top:26px;
    width:2px;
    height:9px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:15px;
}

.u55 {
    position:absolute;
    left:2px;
    top:-4px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:414px;
    top:25px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:474px;
    top:23px;
    width:209px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../接机牌接车牌_files/u16_normal.png');
}

.u58_container {
    position:absolute;
    left:684px;
    top:26px;
    width:18px;
    height:9px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:15px;
}

.u59 {
    position:absolute;
    left:2px;
    top:-4px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../接机牌接车牌_files/u18_normal.png');
}

.u60_container {
    position:absolute;
    left:701px;
    top:29px;
    width:3px;
    height:3px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:9px;
    height:9px;
}

.u61 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../接机牌接车牌_files/u20_normal.png');
}

.u62_container {
    position:absolute;
    left:388px;
    top:41px;
    width:320px;
    height:44px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:50px;
}

.u63 {
    position:absolute;
    left:2px;
    top:11px;
    width:316px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u64_container {
    position:absolute;
    left:389px;
    top:42px;
    width:44px;
    height:42px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:50px;
    height:48px;
}

.u65 {
    position:absolute;
    left:2px;
    top:4px;
    width:40px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_line {
    background-image: url('../接机牌接车牌_files/u66_line.png');
}

.u66_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:44px;
}

.u66 {
    position:absolute;
    left:428px;
    top:41px;
    width:10px;
    height:44px;
    
}

.u67_line {
    background-image: url('../接机牌接车牌_files/u67_line.png');
}

.u67_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:44px;
}

.u67 {
    position:absolute;
    left:429px;
    top:41px;
    width:10px;
    height:44px;
    
}

.u68 {
    position:absolute;
    left:409px;
    top:110px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../接机牌接车牌_files/u27_normal.png');
}

.u69_container {
    position:absolute;
    left:397px;
    top:95px;
    width:300px;
    height:44px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:50px;
}

.u70 {
    position:absolute;
    left:2px;
    top:14px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:409px;
    top:109px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../接机牌接车牌_files/u72_normal.png');
}

.u72_container {
    position:absolute;
    left:610px;
    top:104px;
    width:26px;
    height:26px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:32px;
}

.u73 {
    position:absolute;
    left:2px;
    top:5px;
    width:22px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../接机牌接车牌_files/u72_normal.png');
}

.u74_container {
    position:absolute;
    left:660px;
    top:104px;
    width:26px;
    height:26px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:32px;
}

.u75 {
    position:absolute;
    left:2px;
    top:5px;
    width:22px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../接机牌接车牌_files/u76_normal.png');
}

.u76_container {
    position:absolute;
    left:622px;
    top:104px;
    width:50px;
    height:26px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:32px;
}

.u77 {
    position:absolute;
    left:2px;
    top:5px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_line {
    background-image: url('../接机牌接车牌_files/u78_line.png');
}

.u78_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:14px;
}

.u78 {
    position:absolute;
    left:634px;
    top:110px;
    width:10px;
    height:14px;
    
}

.u79_normal {
    background-image: url('../接机牌接车牌_files/u38_normal.png');
}

.u79_container {
    position:absolute;
    left:661px;
    top:105px;
    width:24px;
    height:24px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:30px;
    height:30px;
}

.u80 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../接机牌接车牌_files/u30_normal.png');
}

.u81_container {
    position:absolute;
    left:655px;
    top:49px;
    width:42px;
    height:28px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:48px;
    height:34px;
}

.u82 {
    position:absolute;
    left:2px;
    top:8px;
    width:38px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../接机牌接车牌_files/u27_normal.png');
}

.u83_container {
    position:absolute;
    left:397px;
    top:156px;
    width:300px;
    height:44px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:50px;
}

.u84 {
    position:absolute;
    left:2px;
    top:14px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:409px;
    top:171px;
    width:119px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:492px;
    top:172px;
    width:195px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../接机牌接车牌_files/u87_normal.png');
}

.u87_container {
    position:absolute;
    left:740px;
    top:64px;
    width:196px;
    height:38px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:202px;
    height:44px;
}

.u88 {
    position:absolute;
    left:2px;
    top:11px;
    width:192px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:745px;
    top:24px;
    width:275px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:26px;
    top:574px;
    width:569px;
    height:128px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:38px;
    top:511px;
    width:288px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

