@{
  ViewBag.Title = "index";
}

<script type="text/lizard-config">
{
  url_schema: '/hybrid',
  viewName: 'hybridAddresslist',
  models: {
    apis: [],
    filter: function(datas) {
      return {

      };
    }
  },
  view:{
    viewport: Lizard.T("viewportTmpl")
  },
  controller: '/webapp/demo2.1/webresource/controllers/hybrid/addresslist.js'
}
</script>

<script id="viewportTmpl" type="text/lizard-template">
<input class="js-address-callback" placeholder="填入手机号"/>
<button class="js-address-list">调用本地通讯录</button>
</script>
