@using System.Configuration;
@{
  ViewBag.Title = "h5tohybrid";
}

<script type="text/lizard-config">
{
  url_schema: '/hybrid',
  models: {
    apis: [],
    filter: function(datas) {
      return {};
    }
  },

  view:{
    viewport: Lizard.T("viewportTmpl")
  },
  viewName: 'h5tohybrid',
  controller: '/webapp/demo2.1/webresource/controllers/hybrid/h5tohybrid.js'
}
</script>

<script id="viewportTmpl" type="text/lizard-template">
<h2 class="guide-title">用法</h2>
<pre><code>
/*
 * h5跳转hybrid
 */
<h2 class="guide-title">实例展示</h2>
<span class="btn-primary js-h5-to-hybrid">h5跳hybrid</span>
</script>
