@{
  ViewBag.Title = "Hybrid index";
}
<script type="text/lizard-config">
{
  url_schema: 'hybrid',
  viewName: 'hybridIndex',
  model: {
    apis: [],
    filter: function(datas) {
      return {

      };
    }
  },
  view:{
    viewport: Lizard.T("viewportTmpl")
  },
  viewName: 'hybridIndex',
  controller: '/webapp/demo2.1/webresource/controllers/hybrid/index.js'
}
</script>

<script id="viewportTmpl" type="text/lizard-template">
 <div class="cui-citys-bd">
 </div>
</script>