body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../订单填写_2_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:36px;
    top:69px;
    width:320px;
    height:742px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:748px;
}

.u1 {
    position:absolute;
    left:2px;
    top:363px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../订单填写_2_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:36px;
    top:41px;
    width:320px;
    height:20px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:26px;
}

.u3 {
    position:absolute;
    left:2px;
    top:2px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../订单填写_2_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:40px;
    top:53px;
    width:2px;
    height:3px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:9px;
}

.u5 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../订单填写_2_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:48px;
    top:51px;
    width:2px;
    height:5px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:11px;
}

.u7 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../订单填写_2_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:44px;
    top:51px;
    width:2px;
    height:4px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:10px;
}

.u9 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../订单填写_2_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:52px;
    top:49px;
    width:2px;
    height:7px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:13px;
}

.u11 {
    position:absolute;
    left:2px;
    top:-4px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../订单填写_2_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:56px;
    top:47px;
    width:2px;
    height:9px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:15px;
}

.u13 {
    position:absolute;
    left:2px;
    top:-4px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:62px;
    top:45px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:122px;
    top:43px;
    width:209px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../订单填写_2_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:332px;
    top:47px;
    width:18px;
    height:9px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:15px;
}

.u17 {
    position:absolute;
    left:2px;
    top:-4px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../订单填写_2_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:350px;
    top:49px;
    width:3px;
    height:3px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:9px;
    height:9px;
}

.u19 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../订单填写_2_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:36px;
    top:61px;
    width:320px;
    height:44px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:50px;
}

.u21 {
    position:absolute;
    left:2px;
    top:11px;
    width:316px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u22_container {
    position:absolute;
    left:38px;
    top:63px;
    width:44px;
    height:42px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:50px;
    height:48px;
}

.u23 {
    position:absolute;
    left:2px;
    top:4px;
    width:40px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_line {
    background-image: url('../订单填写_2_files/u24_line.png');
}

.u24_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:44px;
}

.u24 {
    position:absolute;
    left:76px;
    top:61px;
    width:10px;
    height:44px;
    
}

.u25_line {
    background-image: url('../订单填写_2_files/u25_line.png');
}

.u25_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:44px;
}

.u25 {
    position:absolute;
    left:78px;
    top:61px;
    width:10px;
    height:44px;
    
}

.u26 {
    position:absolute;
    left:52px;
    top:119px;
    width:235px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../订单填写_2_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:51px;
    top:175px;
    width:100px;
    height:80px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:86px;
}

.u28 {
    position:absolute;
    left:2px;
    top:32px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:229px;
    top:181px;
    width:125px;
    height:72px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:151px;
    top:181px;
    width:63px;
    height:54px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_line {
    background-image: url('../订单填写_2_files/u31_line.png');
}

.u31_line {
    position:absolute;
    left:0px;
    top:4px;
    width:305px;
    height:3px;
}

.u31 {
    position:absolute;
    left:51px;
    top:259px;
    width:305px;
    height:10px;
    
}

.u32 {
    position:absolute;
    left:51px;
    top:299px;
    width:54px;
    height:54px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:115px;
    top:299px;
    width:225px;
    height:54px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:51px;
    top:273px;
    width:99px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_line {
    background-image: url('../订单填写_2_files/u35_line.png');
}

.u35_line {
    position:absolute;
    left:0px;
    top:4px;
    width:305px;
    height:3px;
}

.u35 {
    position:absolute;
    left:51px;
    top:161px;
    width:305px;
    height:10px;
    
}

.u36 {
    position:absolute;
    left:51px;
    top:359px;
    width:100px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../订单填写_2_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:131px;
    top:363px;
    width:15px;
    height:9px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:15px;
}

.u38 {
    position:absolute;
    left:2px;
    top:-4px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../订单填写_2_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:36px;
    top:389px;
    width:320px;
    height:39px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:45px;
}

.u40 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:51px;
    top:409px;
    width:99px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:51px;
    top:675px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:259px;
    top:675px;
    width:73px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:51px;
    top:717px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:102px;
    top:717px;
    width:238px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../订单填写_2_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:36px;
    top:825px;
    width:320px;
    height:44px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:50px;
}

.u47 {
    position:absolute;
    left:10px;
    top:12px;
    width:308px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../订单填写_2_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:266px;
    top:825px;
    width:90px;
    height:44px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:50px;
}

.u49 {
    position:absolute;
    left:2px;
    top:14px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:244px;
    top:837px;
    width:96px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../订单填写_2_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:266px;
    top:825px;
    width:17px;
    height:44px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:23px;
    height:50px;
}

.u52 {
    position:absolute;
    left:2px;
    top:14px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../订单填写_2_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:341px;
    top:677px;
    width:5px;
    height:10px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:5px;
    height:10px;
}

.u54 {
    position:absolute;
    left:2px;
    top:-3px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:51px;
    top:443px;
    width:112px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../订单填写_2_files/u56_normal.png');
}

.u56_container {
    position:absolute;
    left:256px;
    top:435px;
    width:30px;
    height:30px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u57 {
    position:absolute;
    left:2px;
    top:4px;
    width:26px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../订单填写_2_files/u58_normal.png');
}

.u58_container {
    position:absolute;
    left:316px;
    top:435px;
    width:30px;
    height:30px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u59 {
    position:absolute;
    left:2px;
    top:4px;
    width:26px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../订单填写_2_files/u60_normal.png');
}

.u60_container {
    position:absolute;
    left:286px;
    top:435px;
    width:30px;
    height:30px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u61 {
    position:absolute;
    left:2px;
    top:6px;
    width:26px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:51px;
    top:487px;
    width:78px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:51px;
    top:531px;
    width:54px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_line {
    background-image: url('../订单填写_2_files/u64_line.png');
}

.u64_line {
    position:absolute;
    left:0px;
    top:4px;
    width:305px;
    height:3px;
}

.u64 {
    position:absolute;
    left:51px;
    top:513px;
    width:305px;
    height:10px;
    
}

.u65_normal {
    background-image: url('../订单填写_2_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:36px;
    top:556px;
    width:320px;
    height:18px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:24px;
}

.u66 {
    position:absolute;
    left:2px;
    top:1px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_line {
    background-image: url('../订单填写_2_files/u67_line.png');
}

.u67_line {
    position:absolute;
    left:0px;
    top:4px;
    width:305px;
    height:3px;
}

.u67 {
    position:absolute;
    left:51px;
    top:699px;
    width:305px;
    height:10px;
    
}

.u68_normal {
    background-image: url('../订单填写_2_files/u68_normal.png');
}

.u68_container {
    position:absolute;
    left:36px;
    top:751px;
    width:320px;
    height:74px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:80px;
}

.u69 {
    position:absolute;
    left:2px;
    top:29px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:44px;
    top:765px;
    width:302px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:274px;
    top:130px;
    width:72px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:36px;
    top:19px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:43px;
    top:797px;
    width:311px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_line {
    background-image: url('../订单填写_2_files/u74_line.png');
}

.u74_line {
    position:absolute;
    left:0px;
    top:4px;
    width:305px;
    height:3px;
}

.u74 {
    position:absolute;
    left:51px;
    top:467px;
    width:305px;
    height:10px;
    
}

.u75 {
    position:absolute;
    left:36px;
    top:889px;
    width:226px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../订单填写_2_files/u76_normal.png');
}

.u76_container {
    position:absolute;
    left:418px;
    top:70px;
    width:118px;
    height:38px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:124px;
    height:44px;
}

.u77 {
    position:absolute;
    left:2px;
    top:10px;
    width:114px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../订单填写_2_files/u76_normal.png');
}

.u78_container {
    position:absolute;
    left:418px;
    top:118px;
    width:118px;
    height:38px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:124px;
    height:44px;
}

.u79 {
    position:absolute;
    left:2px;
    top:10px;
    width:114px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../订单填写_2_files/u76_normal.png');
}

.u80_container {
    position:absolute;
    left:418px;
    top:166px;
    width:118px;
    height:38px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:124px;
    height:44px;
}

.u81 {
    position:absolute;
    left:2px;
    top:10px;
    width:114px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:418px;
    top:19px;
    width:275px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:51px;
    top:584px;
    width:112px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_line {
    background-image: url('../订单填写_2_files/u84_line.png');
}

.u84_line {
    position:absolute;
    left:0px;
    top:4px;
    width:305px;
    height:3px;
}

.u84 {
    position:absolute;
    left:51px;
    top:655px;
    width:305px;
    height:10px;
    
}

.u85 {
    position:absolute;
    left:127px;
    top:585px;
    width:208px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:51px;
    top:630px;
    width:112px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_line {
    background-image: url('../订单填写_2_files/u87_line.png');
}

.u87_line {
    position:absolute;
    left:0px;
    top:4px;
    width:305px;
    height:3px;
}

.u87 {
    position:absolute;
    left:51px;
    top:612px;
    width:305px;
    height:10px;
    
}

.u88 {
    position:absolute;
    left:127px;
    top:630px;
    width:208px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:180px;
    top:487px;
    width:161px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:180px;
    top:531px;
    width:161px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../订单填写_2_files/u53_normal.png');
}

.u91_container {
    position:absolute;
    left:342px;
    top:634px;
    width:5px;
    height:10px;
}

#u91_img {
    position:absolute;
    left:0px;
    top:0px;
    width:5px;
    height:10px;
}

.u92 {
    position:absolute;
    left:2px;
    top:-3px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../订单填写_2_files/u53_normal.png');
}

.u93_container {
    position:absolute;
    left:342px;
    top:588px;
    width:5px;
    height:10px;
}

#u93_img {
    position:absolute;
    left:0px;
    top:0px;
    width:5px;
    height:10px;
}

.u94 {
    position:absolute;
    left:2px;
    top:-3px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

