<link href="style/style.css" rel="stylesheet" />

<div id="wrapper"></div>
<br /><br />

<section class="historyselect">

</section>

<div id="previewPane" class="pane" style="display: block; height: 633px;"><h2>这里是列表的使用，适用范围：</h2>

<p>① 城市列表
② 航班列表
③ 或者多标签</p>

<h3>主要属性如下：</h3>

<pre><code class="css">// @<span class="keyword">param</span> rootBox <span class="rules">{dom}</span>            容器元素的dom
// @<span class="keyword">param</span> filter <span class="rules">{String}</span>          用于搜索的字段，以","分割，搜索会按照这些字段进行搜索
// @<span class="keyword">param</span> needTab <span class="rules">{bool}</span>           设置是否需要tab标签，比如说只有一个tab的场景（选择机场）
// @<span class="keyword">param</span> foldAll <span class="rules">{bool}</span>           是否全部折叠，设置为ture的时候全部会折叠起来，默认为false
// @<span class="keyword">param</span> unFoldOne <span class="rules">{bool}</span>         当具有折叠功能时候，是否只能展示一个，默认为false，为true时候只会展示一个
// @<span class="keyword">param</span> needFold <span class="rules">{bool}</span>          设置是否需要折叠功能，默认不需要，当设置全部折叠时候该属性会被强制设置为true
// @<span class="keyword">param</span> groupIndex <span class="rules">{int}</span>         设置当前显示的标签（国内或者国际），该属性一般存储在localstorage中，需要记录上次信息
// @<span class="keyword">param</span> selectedKey <span class="rules">{int}</span>        设置当前选择值，只设置键值，该属性一般存储于localstorage中
// @<span class="keyword">param</span> groupObj <span class="rules">{json}</span>          这里传入的一定是已经处理好了的数据,name为标签项，data才是具体数据
// @<span class="keyword">param</span> click <span class="rules">{function}</span>         点击每个项目时候触发的事件，data为你点击时候的数据
// @<span class="keyword">param</span> isAjax <span class="rules">{bool}</span>            是否为ajax请求
// @<span class="keyword">param</span> ajaxCallBack <span class="rules">{function}</span>  ajax请求数据成功后再手动调用
// @<span class="keyword">param</span> itemTemplate <span class="rules">{String}</span>    自定义的列表模板

</code></pre>

<h2>使用方法</h2>

<h3>citylist的简单初始化</h3>

<pre class="javascript"><code>
ajaxlist = new cUIBusinessGroupList({
    showFnBtn: true,
    fnBtnCallback: function () {
        curList.data = [];
        ajaxlist.updateAllTabGroup(0,curList);
        storeinstance.remove();
    },
    //页面按钮的名字
    fnBtnTxt: '清除历史',
    rootBox: this.$('#wrapper'),
    needTab: false,
    filter: 'en,py,name,fsten',
    selectedKey: secKey,
    //自定义的列表模板
    itemTemplate: '<div>&lt;%=itemData.name%&gt;<br></div>',
    groupObj: [
        { name: '好友列表', data: inland }
    ],
    //是否为ajax请求
    isAjax: true,
    //这里需要一个特别的操作，就是每次请求数据成功后在手动调用
    //keyword为搜索文本框当前的值，会用于ajax的参数
    ajaxCallBack: function (keyword) {
        scope = this;

        //地图定位
        GeoKeyword.Subscribe(keyword, '上海', function (data) {
            scope.ajaxDataHandle(data);
        });
    },
    click: function (data) {
        //add store
        that.addHistory(data);
        storeinstance.setAttr('showHisName', data);   //当前城市
        that.forward('ajaxselect');
    }
});

注意：
因为该控件一般在onload 请求数据后调用，调用后html dom便创建结束
而每次调用onload dom会重复实例化，所以各位一定要注意，第二次执行onload时候要判断是否已经实例化，实例化便不创建

</code></pre></div>