<link href="style/style.css" rel="stylesheet" />
<div id="wrapper"></div>
<br /><br />
<div id="previewPane" class="pane" style="display: block;"><h2>这里是列表的使用，适用范围：</h2>

<pre><code>① 城市列表
② 航班列表
③ 或者多标签
</code></pre>

<h3>主要属性如下：</h3>

<pre><code class="css">// @<span class="keyword">param</span> rootBox <span class="rules">{dom}</span>            容器元素的dom
// @<span class="keyword">param</span> filter <span class="rules">{String}</span>          用于搜索的字段，以","分割，搜索会按照这些字段进行搜索
// @<span class="keyword">param</span> needTab <span class="rules">{bool}</span>           设置是否需要tab标签，比如说只有一个tab的场景（选择机场）
// @<span class="keyword">param</span> foldAll <span class="rules">{bool}</span>           是否全部折叠，设置为ture的时候全部会折叠起来，默认为false
// @<span class="keyword">param</span> unFoldOne <span class="rules">{bool}</span>         当具有折叠功能时候，是否只能展示一个，默认为false，为true时候只会展示一个
// @<span class="keyword">param</span> needFold <span class="rules">{bool}</span>          设置是否需要折叠功能，默认不需要，当设置全部折叠时候该属性会被强制设置为true
// @<span class="keyword">param</span> groupIndex <span class="rules">{int}</span>         设置当前显示的标签（国内或者国际），该属性一般存储在localstorage中，需要记录上次信息
// @<span class="keyword">param</span> selectedKey <span class="rules">{int}</span>        设置当前选择值，只设置键值，该属性一般存储于localstorage中
// @<span class="keyword">param</span> groupObj <span class="rules">{json}</span>          这里传入的一定是已经处理好了的数据,name为标签项，data才是具体数据
// @<span class="keyword">param</span> click <span class="rules">{function}</span>         点击每个项目时候触发的事件，data为你点击时候的数据

</code></pre>

<h2>使用方法</h2>

<h3>citylist的简单初始化</h3>

<pre><code class="javascript">
    <span class="comment">//热门数据</span>
    <span class="comment">//国内数据</span>

    <span class="keyword">var</span> inlandhot = {};
    inlandhot.name = <span class="string">'热门城市'</span>;
    inlandhot.data = [];
    <span class="keyword">for</span> (<span class="keyword">var</span> k <span class="keyword">in</span> data.inlandhot) {
        inlandhot.data.push(data.inlandhot[k]);
    }
    <span class="comment">//国内数据</span>
    <span class="keyword">var</span> inland = [];
    inland.push(inlandhot);

    <span class="keyword">for</span> (<span class="keyword">var</span> k <span class="keyword">in</span> data.inland) {
        <span class="keyword">var</span> obj = {};
        obj.name = k;
        obj.data = data.inland[k];
        inland.push(obj);
    }

    <span class="comment">//国际数据</span>
    <span class="keyword">var</span> inter = [];
    <span class="keyword">for</span> (<span class="keyword">var</span> k <span class="keyword">in</span> data.inter) {
        <span class="keyword">var</span> obj = {};
        obj.name = k;
        obj.data = data.inter[k];
        inter.push(obj);
    }

    window.citylist = <span class="keyword">new</span> cUIBusinessGroupList({
        rootBox: <span class="keyword">this</span>.$(<span class="string">'#wrapper'</span>),
        filter: <span class="string">'en,py,name,fsten'</span>,
        <span class="comment">//  needTab: false,</span>
        <span class="comment">// unFoldOne: true,</span>
        <span class="comment">// foldAll: true,</span>
        <span class="comment">// groupIndex: 1,</span>
        <span class="comment">// selectedKey: 28,</span>

        needFold: <span class="literal">true</span>,
        groupObj: [
            { name: <span class="string">'国内城市'</span>, data: inland },
            { name: <span class="string">'国际城市'</span>, data: inter }
        ],
        click: <span class="function"><span class="keyword">function</span> <span class="params">(data)</span> {</span>
            <span class="keyword">var</span> s = <span class="string">''</span>;
            <span class="comment">//执行保存信息</span>
            <span class="comment">//this.back();</span>
        }

    });

注意：
因为该控件一般在onload 请求数据后调用，调用后html dom便创建结束
而每次调用onload dom会重复实例化，所以各位一定要注意，第二次执行onload时候要判断是否已经实例化，实例化便不创建

</code></pre></div>