<link href="style/style.css" rel="stylesheet" />
<div id="previewPane" class="pane" style="display: block; height: 703px;"><h2></h2>
    <h2>这里是Guider中粘贴板的操作方法</h2>
    <h2>基本参数说明：</h2>
    <pre><code class="css">Guider<span class="class">.copyToClipboard</span>
// @<span class="keyword">param</span> content <span class="rules">{String}</span>         复制内容 <br>
Guider<span class="class">.readFromClipboard</span>
// @<span class="keyword">param</span> callback <span class="rules">{function}</span>      读取粘贴板内容的回调
    </code></pre>
    <h2>demo1：</h2>
    <div style="width:80%;max-width:200px;">
        <input type="text" id="input1" class="car_combd txt" style="border:1px #ccc solid; height:35px; width:85%;margin-left:27px;border-radius: 3px;" />
    </div>
    <input type="button" id="demo1" value="复制文本框内容" style="margin-top: 10px; background-color:Orange; width:135px; text-align:center" />
    <pre><code class="css">
        Guider<span class="class">.copyToClipboard</span>(<span class="rules">{<span class="keyword">content</span>:<span class="value"> $('#input1').val()</span>}</span>);
    </code></pre>
    <h2>demo2：</h2>
    <div style="width:80%;max-width:200px;">
        <input type="text" id="input2" class="car_combd txt" style="border:1px #ccc solid; height:35px; width:85%;margin-left:27px;border-radius: 3px;" />
    </div>
    <input type="button" id="demo2" value="将粘贴板数据填到文本框" style="margin-top: 10px; background-color:Orange; width:135px; text-align:center" />
    <pre><code class="javascript">
        Guider.readFromClipboard({callback: <span class="function"><span class="keyword">function</span> <span class="params">(key)</span> {</span>
        $(<span class="string">'#input2'</span>).value(key);
        }});
    </code></pre>