<!doctype>
<html>
<head>
    <title>UI DEMO</title>
    <link href="style/style.css" rel="stylesheet" />
</head>
<body>


<div id="previewPane" class="pane" style="display: block;"><h2>这里是c.ui.alert的使用，该插件提供提供类似于alert的弹出层</h2>

<pre><code class="css">// @<span class="keyword">param</span> tpl <span class="rules">{function}</span>                underscore提供的模板方法
// @<span class="keyword">param</span> <span class="keyword">title</span> <span class="rules">{String}</span>                标题
// @<span class="keyword">param</span> message <span class="rules">{String}</span>              内容体
// @<span class="keyword">param</span> buttons <span class="rules">{array}</span>               需要生成的按钮
// @<span class="keyword">param</span> viewdata <span class="rules">{object}</span>             模板视图文本
</code></pre>


    <h2>confirm初始化：</h2>

    <input type="button" id="demo1" value="点击我" style="background-color:Orange; width:135px; text-align:center" />

<pre><code class="javascript">define([<span class="string">'app/ui/c.ui.alert'</span>], <span class="keyword">function</span>(Alert){
    <span class="keyword">this</span>.alert = <span class="keyword">new</span> cUI.Alert({
        title: <span class="string">'confirm title'</span>,
        message: <span class="string">'confirm test'</span>,<span class="comment">//控件信息内容，可以自定义</span>
        type: <span class="string">'confirm'</span>
    });
    alert.show()
});
</code></pre>


</div>

</body>
</html>









