<link href="style/style.css" rel="stylesheet" />

<style>
    #el {
        background: lightblue;
    }
    #des {
        background: #ccc;
    }
</style>


<article class="tabs">

</article>

<article class="wrap" id="wrapper">
    <input type="button" class="btn" value="滑动我" id="el" style="width: 100%!important; margin-left: 0px !important; height: 1150px;" />
    <br />
    <hr />
    <br />
    <input type="button" class="btn" value="销毁" id="des" />
</article>
<div id="previewPane" class="pane" style="display: block; height: 638px;"><h2>Attribute</h2>

<pre><code class="css">// @<span class="keyword">param</span> arg1 <span class="rules">{dom}</span>               手势容器的dom
// @<span class="keyword">param</span> arg2 <span class="rules">{String}</span>            手势的方向,分别为'left,right,up,down'
// @<span class="keyword">param</span> arg3 <span class="rules">{function}</span>          手势后要做的change
</code></pre>

<h2>使用方法</h2>

<h3>STEP 1: 项目所有页面已默认require ,c.business.app.js ，所以flip事件能直接调用</h3>

<pre><code class="javascript">
    <span class="keyword">var</span> el = <span class="keyword">this</span>.$(<span class="string">'#el'</span>);     <span class="comment">//获取容器</span>

    <span class="comment">//左滑动</span>
    $.flip(el, <span class="string">'left'</span>, <span class="function"><span class="keyword">function</span> <span class="params">()</span> {</span>
        el.val(<span class="string">'left'</span>)
    });

    <span class="comment">//右滑动</span>
    $.flip(el, <span class="string">'right'</span>, <span class="function"><span class="keyword">function</span> <span class="params">()</span> {</span>
        el.val(<span class="string">'right'</span>)
    });

    <span class="comment">//上滑动</span>
    $.flip(el, <span class="string">'up'</span>, <span class="function"><span class="keyword">function</span> <span class="params">()</span> {</span>
        el.val(<span class="string">'up'</span>)
    });

    <span class="comment">//下滑动</span>
    $.flip(el, <span class="string">'down'</span>, <span class="function"><span class="keyword">function</span> <span class="params">()</span> {</span>
        el.val(<span class="string">'down'</span>)
    });
</code></pre></div>

