<link href="style/style.css" rel="stylesheet" />
<div id="previewPane" class="pane" style="display: block; height: 666px;"><h2>这里是c.ui.headwarning的使用，该插件显示错误提示</h2>

<h2>主要属性如下：</h2>

<pre><code class="css">// @<span class="keyword">param</span> <span class="keyword">title</span> <span class="rules">{String}</span>          标题文本
// @<span class="keyword">param</span> content <span class="rules">{String}</span>         内容文本
// @<span class="keyword">param</span> callback <span class="rules">{function}</span>      点击后退的回调函数
</code></pre>


<h2>效果：</h2>
<input type="button" id="demo" value="点击我" style="background-color:Orange; width:135px; text-align:center" />

<h2>headwarning带回调初始化</h2>

<pre><code class="javascript">define([<span class="string">'app/ui/c.ui.head.warning'</span>], <span class="keyword">function</span>(HeadWarning){
    <span class="keyword">var</span> headwarning = <span class="keyword">new</span> HeadWarning();
    headwarning.setTitle(<span class="string">'我的标题'</span>, <span class="string">'自定义内容'</span>, <span class="function"><span class="keyword">function</span> <span class="params">()</span> {</span>
        alert(<span class="string">'回调的函数'</span>);
    });
    headwarning.show();<span class="comment">//显示插件</span>
});
</code></pre>

<p>注:如果标题不出来，是被原先的header挡住了。</p></div>
