<link href="style/style.css" rel="stylesheet" />
<style>
#wrapper{
      overflow: hidden;
      width: 100%;
   }
   #scroller ul li{
      width: 100px;
      margin-right: 10px;
      height:200px;
      border:1px solid #ccc;
      list-style: none;
      float: left;
   } 
</style>
<h2>横向滚动</h2>
<div id="wrapper" class="">
  <div id="scroller" class="">
      <ul>
         <li>1</li>
         <li>2</li>
         <li>3</li>
         <li>4</li>
         <li>5</li>
         <li>6</li>
         <li>7</li>
         <li>8</li>
         <li>9</li>
         <li>10</li>
         <li>11</li>
         <li>12</li>
         <li>13</li>
         <li>14</li>
         <li>15</li>
         <li>16</li>
         <li>17</li>
         <li>18</li>
         <li>19</li>
         <li>20</li>
         <li>21</li>
         <li>22</li>
         <li>23</li>
         <li>24</li>
         <li>25</li>
         <li>26</li>
         <li>27</li>
      </ul>
  </div>
</div>
<button class="cui-btns-retry js-scroll">滑动</button>
<h2>引用方式</h2>
<pre>
   <code>
      define([
        'cUIScroll'
      ], function(Scroll) {
      });
   </code>
</pre>
<h2>调用方式</h2>
<pre>
  <code>
        new Scroll({
           wrapper: this.$('#wrapper')
        }); 
  </code>
</pre>
<h2>计算Scroller宽度</h2>
<pre>
  <code>
        var wrapper = this.$('#wrapper');  //获取wrapper
        var scroller = wrapper.children().eq(0);  //获取wrapper的第一个元素
        var items = scroller.find('li');  //获取scroller的li子元素
        var item = items.eq(0);  //获取第一个li元素
        var itemWidth = item.width() + 10;  //计算每个li的宽度，10可理解为margin值
        var scrollerWidth = items.length * itemWidth;  //scroller的宽度

        scroller.css('width', scrollerWidth);
  </code>

</pre>
<h2>默认参数</h2>
<pre>
  <code>
      {
           wrapper: null,   //外层的包裹器， 必须有
           scroller：null,  //内层的内容， 默认为wrapper的第一个子元素,可以不传
           //是否具有滚动条
           scrollbars: true,
           //初始坐标
           startX: 0,
           startY: 0,
           scrollX: false, //横向滚动
           scrollY: true,   //竖直滚动
           scrollStart: function() {}, //滚动开始
           scrollEnd： function() {} //滚动结束
        }
  </code>
</pre>
<h2>api</h2>
<pre>
  <code>
if (!this.uiScroll) {
  this.uiScroll = new Scroll({})
  this.uiScroll.refresh(); //当滑动框的高度或者宽度变化的时候，调用这个方法
  this.uiScroll.x //获取当前的x坐标
  this.uiScroll.maxScrollX // 获取做大的横坐标
  this.uiScroll.distX   // 与0比较，判断是向左滑动，还是向右
  this.uiScroll.scrollTo(x, y, time); //滑到指定位置,这个api不会触发scrollEnd和scrollStart
  //当需要支持响应式设计的时候，windows resize, 注意事件不要重复添加
  this.uiScroll.on('refresh', function() {
    console.log('refresh');
  });
}
</code>
</pre>