<style>
    /*inputValidator相关*/
    .validateTips
    {
        min-width: 100px;
        border-radius: 2px;
        padding: 5px 10px;
        z-index: 500;
        position: absolute;
        font-size: 12px;
    }
    .validateInit
    {
        background: #FFFFE0;
        border: 1px solid #F7CE39;
    }
    .validateError
    {
        background: orange;
        border: 1px solid red;
    }
    .validateSuc
    {
        background: #79D62D;
        border: 1px solid Green;
    }
    .triangle_icon
    {
        position: absolute;
    }
    .triangle_icon div
    {
        border-style: solid;
        border-width: 6px;
        position: absolute;
    }
    
    /*上边提示*/
    .posTop .triangle_icon
    {
        width: 12px;
        height: 12px;
        bottom: -12px;
    }
    .posTop .triangle_icon .after
    {
        bottom: 1px;
    }
    .posTop .triangle_icon .after
    {
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
    }
    .posTop .triangle_icon .before
    {
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
    }
    
    /*右边提示*/
    .posRight .triangle_icon
    {
        width: 12px;
        height: 12px;
        left: -12px;
    }
    .posRight .triangle_icon .after
    {
        left: 1px;
    }
    .posRight .triangle_icon .after
    {
        border-top-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    .posRight .triangle_icon .before
    {
        border-top-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    
    /*下边提示*/
    .posBottom .triangle_icon
    {
        width: 12px;
        height: 12px;
        top: -12px;
    }
    .posBottom .triangle_icon .after
    {
        top: 1px;
    }
    .posBottom .triangle_icon .after
    {
        border-top-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
    }
    .posBottom .triangle_icon .before
    {
        border-top-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
    }
    
    
    /*初始化时候的皮肤*/
    .validateInit .before
    {
        border-color: #F7CE39;
    }
    .validateInit .after
    {
        border-color: #FFFFE0;
    }
    
    /*失败时候的皮肤*/
    .validateError .before
    {
        border-color: red;
    }
    .validateError .after
    {
        border-color: orange;
    }
    
    /*成功时候的皮肤*/
    .validateSuc .before
    {
        border-color: Green;
    }
    .validateSuc .after
    {
        border-color: #79D62D;
    }
    
    input
    {
        border: 1px solid rgb(235, 230, 230);
        margin: 2px;
        width: 300px;
    }
    .cui-input-error
    {
        background: #fffaeb !important;
    }
</style>
<link href="style/style.css" rel="stylesheet" />
<div id="previewPane" class="pane" style="display: block; height: ">
<h2>这里是c.widget.listview的使用，该插件提供对控件的验证</h2>

<pre><code>// @param opts {object} </code></pre>

<h2>1.先来了解声明的时候初始的对象包括什么，如下</h2>

<pre><code class="css">// @<span class="keyword">param</span> els <span class="rules">{dom}</span> //需要验证的控件（初始：class为formValidate的控件） 
// @<span class="keyword">param</span> isShowMsg<span class="rules">{bool}</span> //是否显示错误信息（初始：false） 
// @<span class="keyword">param</span> requredMsg <span class="rules">{string}</span> //对验证必填项的说明（初始：该项必填） 
// @<span class="keyword">param</span> rangeMsg <span class="rules">{string}</span> //对验证范围的说明（初始：您输入的字符范围错误） 
// @<span class="keyword">param</span> regexMsg <span class="rules">{string}</span> //对验证格式的说明（初始：格式错误）
// @<span class="keyword">param</span> compareMsg <span class="rules">{string}</span> //对验证对比的说明（初始：对比不成立）</code></pre>

<h2>2.并且类定义了一些初始的属性</h2>

<pre><code class="css">// @<span class="keyword">param</span> idCard 身份证格式错误 
// @<span class="keyword">param</span> num 不是数字 
// @<span class="keyword">param</span> email email格式错误 
// @<span class="keyword">param</span> phone 手机格式错误 
// @<span class="keyword">param</span> chinese 不是中文 
// @<span class="keyword">param</span> password 密码格式错误</code></pre>

<h2>3.主要的方法</h2>

<pre><code>// validateAll(success, error, scope)  
// addValidator(id)  //将控件临时加入验证，id是要加入控件的id值
// removeValidator(id)</code></pre>

<h2>InputValidator的初始化</h2>

<pre><code class="php"><span class="keyword">require</span>([<span class="string">'libs'</span>, <span class="string">'cWidgetFactory'</span>, <span class="string">'widget/c.widget.listview'</span>], <span class="keyword">function</span>(libs,WidgetFactory){ 
<span class="keyword">var</span> InputValidator = WidgetFactory.create(<span class="string">'InputValidator'</span>); 
<span class="keyword">var</span> f = <span class="keyword">new</span> InputValidator({ 
    els: $(<span class="string">'.formValidate'</span>), <span class="comment">//需要校验的控件集合 </span>
    isShowMsg: true <span class="comment">//显示错误信息</span>
}); 
}); </code></pre>

<ul>
<li><p>data-cfg="{requred:true,type:'idCard'}"requred设置是否为必填；type对应了类一些默认的对象属性，这边如果填写错误就会显示“身份证格式错误”</p>

<label>身份证</label>
<input type="text" id="idCard" class="formValidate" data-cfg="{ requred: true, type: 'idCard'}"/>
</li>
<li><p>data-cfg="{ type: 'num', rangeObj: 'num|18|25'}"rangeObj是范围验证，这边值输入的必须是18~25之间的数字</p>

<label>数字</label>
<input type="text" id="num" class="formValidate" data-cfg="{ requred: true, type: 'num', rangeObj: 'num|18|25'}"></li>
<li><p>data-cfg="{ type: 'email'}"</p>

<label>手机</label>
<input type="text" id="mobile" class="formValidate" data-cfg="{ requred: true,type: 'mobile'}"></li>
<li><p>data-cfg="{ regexObj: /^[1-9]<em>[1-9][0-9]</em>$/}"这边是设置一个正则验证</p>

<label>QQ</label>
<input type="text" id="qq" class="formValidate" data-cfg="{ requred: true,regexObj: /^[1-9]*[1-9][0-9]*$/ }"></li>
<li><p>data-cfg="{ type: 'date'}"</p>

<label>密码</label>
<input type="text" id="pwd" class="formValidate" data-cfg="{ requred: true, type: 'password'}"></li>
<li><p>data-cfg="{ compareObj: 'str|pwd|=', requred: true}"这进行对比验证，注意格式compareObj.compareObj('|')长度必须是3，否则出错。第一个参数是对比的类型，现在有（num,str），第二个参数是与哪个控件对比，第三个参数是指对比的方式</p>

<label>重复密码</label>
<input type="text" id="rePwd" class="formValidate" data-cfg="{ compareObj: 'str|pwd|=', requred: true}"></li>
<li><label>薪水范围</label>
<input type="text" id="d_start" class="formValidate" data-cfg="{ type: 'num', compareObj: 'num|d_end|&lt;', errorMsg: '薪水范围错误'  }">-<input type="text" id="d_end" class="formValidate" data-cfg="{ compareObj: 'num|d_start|&gt;', errorMsg: '薪水范围错误', type: 'num', msgPosition: 'right' }"></li>
</ul>

<pre><code>f.addValidator(this.name.val());
f.removeValidator(this.name.val());</code></pre>
<input type="text" id="name" value="name" style="width: 100px;" data-cfg="{ requred: true, type: 'password'}" />
<button class="btn" id="add" style="width: 90px;">添加验证</button>
<button class="btn" id="remove" style="width: 90px;">取消验证</button>
<input type="button" id="demo1" value="点击我" style="background-color: Orange; width: 135px;text-align: center" />

</div>