<style>
  input
    {
        border: 1px solid rgb(235, 230, 230);
        margin: 2px;
        width: 300px;
    }
</style>
<link href="style/style.css" rel="stylesheet" />
<div id="previewPane" class="pane" style="display: block; height: ">
<h2>这里是c.validate的使用，改插件提供input验证的底层方法</h2>

<h2>首先需要引入validate插件</h2>

<pre><code>var validate = util.validate;</code></pre>

<h2>validate中提供表单验证功能格式如下</h2>

<pre><code class="javascript">validators = {
    isEmail: <span class="keyword">function</span>(text){                          <span class="comment">//验证邮箱</span>
        <span class="keyword">var</span> reg = <span class="regexp">/^(?:\w+\.?)*\w+@(?:\w+\.?)*\w+$/</span>;   <span class="comment">//正则表达式</span>
        <span class="keyword">return</span> reg.test(text);
    },            
    isDate: <span class="keyword">function</span>(text){},             <span class="comment">//验证日期</span>
    isIdCard: <span class="keyword">function</span>(idcard){}，        <span class="comment">//验证身份证号码</span>
}
</code></pre>

<h2>验证邮箱</h2>

<p>获取表单value后使用如下方法验证</p>

<pre><code>validators['isEmail'](value) </code></pre>

<p>demo</p>

<div class="inputParent">
<label>邮箱</label>
<input type="text" class="formValidate" id="emailTxt" >
<input type="button" id="email" value="点击我" style="background-color: Orange; width: 135px;text-align: center">
</div>

<h2>验证日期</h2>

<p>获取表单value后使用如下方法验证</p>

<pre><code>validators['isDate'](value) </code></pre>

<p>demo</p>

<label>日期</label>
<input type="text" class="formValidate" id="dateTxt" >
<input type="button" id="date" value="点击我" style="background-color: Orange; width: 135px;text-align: center">

<h2>验证身份证号码</h2>

<p>获取表单value后使用如下方法验证</p>

<pre><code>validators['isEmail'](isIdCard) </code></pre>

<p>demo</p>

<label>身份证</label>
<input type="text" id="idCardTxt" class="formValidate" data-cfg="{ requred: true, type: 'idCard'}"/>
<input type="button" id="idCard" value="点击我" style="background-color: Orange; width: 135px;text-align: center">
</div>