<link href="style/style.css" rel="stylesheet" />
 <style type="text/css">

    .popup-operate{position:fixed;bottom:0;left:0;width:100%;}
.popup-operate ul{margin:10px;overflow:hidden;border-radius:6px;}
.popup-operate ul li{height:44px;margin:1px 0;line-height:44px;text-align:center;font-size:20px;color:#157efb;background-color:#FFF;}

    .viewitem{
    	height:40px;
    }
    .list .current{
    	background: #c0c0c0;
        background-size: 18px 14px;
    }

 </style>
 <div id="previewPane" class="pane" style="display: block;">
 	<h2>LayerList在底部显示</h2>
 	<h2>效果：</h2>
 	   <h3>见页面底部，每次点击可显示layerlist的内容</h3>
       <label id="viewitem"></label>
    <h2>使用方法</h2>

    <h3>layerlist的简单初始化</h3>

<pre>
	<code class="javascript">
    <span class="keyword">var</span> data = [];

        <span class="keyword">for</span> (<span class="keyword">var</span> i = 0; i < 4; i++) {
          data.push({ name: '更多操作' + i });
        }

        this.list = <span class="keyword">new</span> cUILayerList({
          viewdata: {
            list: data
          }
        });   

    </code>
</pre>
</div>
