<link href="style/style.css" rel="stylesheet" />
<style type="text/css">
        /* modal-layer */
        .modal-wrap h3{margin: 0;}
        .modal-layer{z-index:10000;background-color: rgba(0,0,0,0.7);width: 100%;height: 100%;position: absolute;left: 0;top: 0;}
        .modal-wrap{position: absolute;left: 50%;top: 50%;z-index:10000;background-color: #fff;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%); border-radius: 5px;}
        .modal-wrap .modal-hd{position: relative;background-color: #14b1e7;color: #fff;line-height: 46px;border-radius: 5px 5px 0 0;}
        .modal-wrap .modal-hd h3{line-height: 40px;text-align: center;font-size: 18px;}
        .modal-wrap .icon-close{position: absolute;top: 0;right: 10px;font-size: 40px;line-height:40px;-webkit-transform:rotate(45deg);transform:rotate(45deg);}
        
        /* modal-invoice-detail */
        .modal-invoice-detail,.modal-price-detail{width: 300px;}
        .modal-invoice-detail .filter-list li{line-height: 40px;border-bottom: 1px solid #ccc;}
        .modal-invoice-detail .filter-list li:last-child{border-bottom: none;border-radius:0 0 5px 5px;}

        /* modal-price-detail */
        .modal-price-detail .price-row{padding: 10px; border-top:1px solid #ccc;}
        .modal-price-detail .price-row:first-child{border-top:none;}
        .modal-bd{color: #000; height: 300px; padding: 20px;}
</style>    
<div id="previewPane" class="pane" style="display: block;"><h2>这里是mask的使用，该插件实现自定义html弹窗</h2>

<h2>效果：</h2>
<input type="button" id="demo1" value="点击打开自定义弹窗" style="background-color:Orange; width:135px; text-align:center" />

<h2>主要属性如下：</h2>

<pre><code class="css">// @<span class="keyword">param</span> <span class="rules">html</span> <span class="rules">{String}</span>                自定义窗口html
// @<span class="keyword">param</span> <span class="rules">closeDom</span> <span class="rules">{Dom}</span>               关闭按钮的dom
</code></pre>

<h2>mask的初始化：</h2>

<pre><code class="javascript">define([<span class="string">'libs'</span>, <span class="string">'c'</span>, <span class="string">'cBasePageView'</span>, buildViewTemplatesPath(<span class="string">'mask.html'</span>)], <span class="function"><span class="keyword">function</span> <span class="params">(libs, c, pageview, html)</span> {</span>
    <span class="string">"use strict"</span>

    <span class="keyword">var</span> s = <span class="literal">null</span>;

    <span class="comment">/*
    * 自定义Mask类，继承c.ui.Layer
    * 实现根据传入html展示弹窗，控制弹窗与c.ui.Mask的显示与隐藏状态
    */</span>
    <span class="keyword">var</span> Mask = <span class="keyword">new</span> c.base.Class(c.ui.Layer, {
        __propertys__: <span class="function"><span class="keyword">function</span> <span class="params">()</span> {</span>
            <span class="keyword">var</span> self = <span class="keyword">this</span>;
            <span class="keyword">this</span>.contentDom;
            <span class="keyword">this</span>.mask = <span class="keyword">new</span> c.ui.Mask();
            <span class="keyword">this</span>.mask.addEvent(<span class="string">'onShow'</span>, <span class="function"><span class="keyword">function</span> <span class="params">()</span> {</span>
                $(window).bind(<span class="string">'resize'</span>, <span class="keyword">this</span>.onResize);
                <span class="keyword">this</span>.onResize();
                <span class="keyword">var</span> scope = <span class="keyword">this</span>;
                <span class="keyword">this</span>.root.bind(<span class="string">'click'</span>, <span class="function"><span class="keyword">function</span> <span class="params">()</span> {</span>
                    scope.hide();
                    scope.root.unbind(<span class="string">'click'</span>);
                    self.hide();
                });

            });
        },
        initialize: <span class="function"><span class="keyword">function</span> <span class="params">($super, opts)</span> {</span>

            $super({
                onCreate: <span class="function"><span class="keyword">function</span> <span class="params">()</span> {</span>
                },
                onShow: <span class="function"><span class="keyword">function</span> <span class="params">()</span> {</span>
                    <span class="keyword">for</span> (<span class="keyword">var</span> k <span class="keyword">in</span> opts) <span class="keyword">this</span>[k] = opts[k];
                    <span class="keyword">this</span>.mask.show();
                    <span class="keyword">this</span>.setzIndexTop();
                    <span class="keyword">if</span> (<span class="keyword">typeof</span> <span class="keyword">this</span>.html == <span class="string">'string'</span>) <span class="keyword">this</span>.html = $(<span class="keyword">this</span>.html);
                    <span class="keyword">this</span>.contentDom.html(<span class="keyword">this</span>.html);
                    <span class="keyword">if</span> (<span class="keyword">this</span>.closeDom) {
                        <span class="keyword">this</span>.contentDom.find(<span class="keyword">this</span>.closeDom).on(<span class="string">'click'</span>, <span class="function"><span class="keyword">function</span> <span class="params">()</span> {</span>
                            s &amp;&amp; s.hide();
                        });
                    }
                },
                onHide: <span class="function"><span class="keyword">function</span> <span class="params">()</span> {</span>
                    <span class="keyword">this</span>.mask &amp;&amp; <span class="keyword">this</span>.mask.hide();
                }
            });

        }
    });

    <span class="comment">/*
    * 自定义Mask引用示例
    */</span>
    <span class="keyword">var</span> View = pageview.extend({
        render: <span class="function"><span class="keyword">function</span> <span class="params">()</span> {</span>
            <span class="keyword">this</span>.$el.html(html);
        },

        onCreate: <span class="function"><span class="keyword">function</span> <span class="params">()</span> {</span>
            <span class="keyword">this</span>.injectHeaderView();
            <span class="keyword">this</span>.render();
        },

        events: {
            <span class="string">'click #demo1'</span>: <span class="function"><span class="keyword">function</span> <span class="params">()</span> {</span>
                <span class="keyword">var</span> html = [
                    <span class="string">'&lt;div class="modal-wrap modal-price-detail"&gt;'</span>,
                    <span class="string">'&lt;div class="modal-hd"&gt;&lt;h3&gt;Mask Demo&lt;/h3&gt;'</span>,
                    <span class="string">'&lt;i class="icon-close"&gt;+&lt;/i&gt;&lt;/div&gt;'</span>,
                    <span class="string">'&lt;div class="modal-bd"&gt;'</span>,
                    <span class="string">'&lt;h3&gt;这是一个圆角的窗口&lt;/h3&gt;'</span>,
                    <span class="string">'&lt;/div&gt;&lt;/div&gt;'</span>
                ].join(<span class="string">''</span>),
                html = $(html);

                <span class="keyword">if</span> (!s) {
                    s = <span class="keyword">new</span> Mask({
                        html: html, <span class="comment">// 弹窗html</span>
                        closeDom: <span class="string">'.icon-close'</span> <span class="comment">// 弹窗关闭按钮</span>
                    });
                }
                s.show();
            }
        },

        onLoad: <span class="function"><span class="keyword">function</span> <span class="params">()</span> {</span>
            <span class="comment">//对HeaderView设置数据</span>
            <span class="keyword">this</span>.headerview.set({
                title: <span class="string">'mask组件'</span>,
                back: <span class="literal">true</span>,
                view: <span class="keyword">this</span>,
                tel: <span class="literal">null</span>,
                events: {
                    returnHandler: <span class="function"><span class="keyword">function</span> <span class="params">()</span> {</span>
                        <span class="keyword">this</span>.back(<span class="string">'index'</span>);
                        <span class="keyword">if</span> (s) s.hide();
                    }
                }
            });
            <span class="keyword">this</span>.headerview.show();

            <span class="keyword">this</span>.turning();
        },

        onShow: <span class="function"><span class="keyword">function</span> <span class="params">()</span> {</span>

        },

        onHide: <span class="function"><span class="keyword">function</span> <span class="params">()</span> {</span>
            <span class="keyword">this</span>.s &amp;&amp; <span class="keyword">this</span>.s.destroy();
            <span class="keyword">this</span>.mask &amp;&amp; <span class="keyword">this</span>.mask.hide();
            <span class="keyword">this</span>.root &amp;&amp; <span class="keyword">this</span>.root.remove();
        }

    });

    <span class="keyword">return</span> View;

});
</code></pre>

</div>

