<link href="style/style.css" rel="stylesheet" />
<style>
    .img_show {
        width:auto;
        max-width: 90%;
        height: auto;
        margin-left:27px;
        background: #eee;
    }
    .img_show img{
        opacity: 0.25;
        -webkit-animation:opacity 1550ms ease-in-out;
        -moz-animation:opacity 1550ms ease-in-out;
        -ms-animation:opacity 1550ms ease-in-out;
        animation:opacity 1550ms ease-in-out
    }
    .js_hotel_detail{
        width: 100%;
        height: 120px;
        border-bottom: 1px solid #fff;
    }
    .hotel-g-proimg,.hotel-g-cbd{
        display: inline-block;
        
    }
    .hotel-g-proimg{
        width:30%;
    }
    .hotel-g-cbd{
        width:60%;
    }
</style>
<div id="previewPane" class="pane" style="display: block;">
<h2>延迟加载——间接加载</h2>
<input type="button" class="calendar-demo" value="继续加载10张" id="append_img" style="background-color:Orange; width:135px; text-align:center"/>
<div class="hotel-g-bd hotel-hot js_hotel_list img_show">
                    <ul class="hotel-g-list" id="img_list">
                                                  
                        <li class="js_hotel_detail" data-hotelid="436187">
                            <div class="hotel-g-proimg"><img data-src="http://images4.c-ctrip.com/target/hotel/437000/436187/0d4dc5223099409e99fe0c459c1b3c59_130_130.jpg" width="96" height="96" >
                            </div>
                            <div class="hotel-g-cbd">
                              <h4 class="ellips">上海宝安大酒店</h4>
                              <div class="list-c">
                                 <span class="price-num fr"><b class="num"><small>¥</small>428</b>起</span>
                                 <span class="rate-num"><b>4.2</b>分</span>
                                 <i class="hotel-icon-wifi"></i>
                                 <i class="hotel-icon-park"></i>
                              </div>
                              <div class="list-c">
                                 <span class="cgray">四星级酒店</span>
                                    <span class="ico-txt fr">
                                       <em class="ico-2">礼</em>
                                       <em class="ico-1">APP专享</em>
                                    </span>
                              </div>
                              <div class="list-c">
                                 <span class="cgray fr">4.8公里</span>
                                 <span class="cgray">浦东陆家嘴金融贸易区</span>
                              </div>
                           </div>
                            
                            
                        </li>
                                                  
                        <li class="js_hotel_detail" data-hotelid="375211">
                            <div class="hotel-g-proimg"><img data-src="http://images4.c-ctrip.com/target/hotel/26000/25951/223C7EBF-A242-4666-95C4-6378673595FA_130_130.jpg" width="96" height="96" ></div>
                            <div class="hotel-g-cbd">
                              <h4 class="ellips">上海宝安大酒店</h4>
                              <div class="list-c">
                                 <span class="price-num fr"><b class="num"><small>¥</small>428</b>起</span>
                                 <span class="rate-num"><b>4.2</b>分</span>
                                 <i class="hotel-icon-wifi"></i>
                                 <i class="hotel-icon-park"></i>
                              </div>
                              <div class="list-c">
                                 <span class="cgray">四星级酒店</span>
                                    <span class="ico-txt fr">
                                       <em class="ico-2">礼</em>
                                       <em class="ico-1">APP专享</em>
                                    </span>
                              </div>
                              <div class="list-c">
                                 <span class="cgray fr">4.8公里</span>
                                 <span class="cgray">浦东陆家嘴金融贸易区</span>
                              </div>
                           </div>
                            
                        </li>
                                                  
                        <li class="js_hotel_detail" data-hotelid="375466">
                            <div class="hotel-g-proimg"><img data-src="http://images4.c-ctrip.com/target/hotel/22000/21648/542d8c19b5ab4b93ad936c54d2b9453e_130_130.jpg" width="96" height="96"></div>
                            <div class="hotel-g-cbd">
                              <h4 class="ellips">上海宝安大酒店</h4>
                              <div class="list-c">
                                 <span class="price-num fr"><b class="num"><small>¥</small>428</b>起</span>
                                 <span class="rate-num"><b>4.2</b>分</span>
                                 <i class="hotel-icon-wifi"></i>
                                 <i class="hotel-icon-park"></i>
                              </div>
                              <div class="list-c">
                                 <span class="cgray">四星级酒店</span>
                                    <span class="ico-txt fr">
                                       <em class="ico-2">礼</em>
                                       <em class="ico-1">APP专享</em>
                                    </span>
                              </div>
                              <div class="list-c">
                                 <span class="cgray fr">4.8公里</span>
                                 <span class="cgray">浦东陆家嘴金融贸易区</span>
                              </div>
                           </div>
                            
                        </li>
                                                  
                        <li class="js_hotel_detail" data-hotelid="437922">
                            <div class="hotel-g-proimg"><img data-src="http://images4.c-ctrip.com/target/hotel/55000/54108/FBAD995D-E4FC-49B2-9DD0-F42790B4207C_130_130.jpg" width="96" height="96" ></div>
                            <div class="hotel-g-cbd">
                              <h4 class="ellips">上海宝安大酒店</h4>
                              <div class="list-c">
                                 <span class="price-num fr"><b class="num"><small>¥</small>428</b>起</span>
                                 <span class="rate-num"><b>4.2</b>分</span>
                                 <i class="hotel-icon-wifi"></i>
                                 <i class="hotel-icon-park"></i>
                              </div>
                              <div class="list-c">
                                 <span class="cgray">四星级酒店</span>
                                    <span class="ico-txt fr">
                                       <em class="ico-2">礼</em>
                                       <em class="ico-1">APP专享</em>
                                    </span>
                              </div>
                              <div class="list-c">
                                 <span class="cgray fr">4.8公里</span>
                                 <span class="cgray">浦东陆家嘴金融贸易区</span>
                              </div>
                           </div>
                            
                        </li>
                                                  
                        <li class="js_hotel_detail" data-hotelid="441507">
                            <div class="hotel-g-proimg"><img data-src="http://images4.c-ctrip.com/target/hotel/442000/441507/945b82ca00e244838eea4d3758957943_130_130.jpg" width="96" height="96" ></div>
                            <div class="hotel-g-cbd">
                              <h4 class="ellips">上海宝安大酒店</h4>
                              <div class="list-c">
                                 <span class="price-num fr"><b class="num"><small>¥</small>428</b>起</span>
                                 <span class="rate-num"><b>4.2</b>分</span>
                                 <i class="hotel-icon-wifi"></i>
                                 <i class="hotel-icon-park"></i>
                              </div>
                              <div class="list-c">
                                 <span class="cgray">四星级酒店</span>
                                    <span class="ico-txt fr">
                                       <em class="ico-2">礼</em>
                                       <em class="ico-1">APP专享</em>
                                    </span>
                              </div>
                              <div class="list-c">
                                 <span class="cgray fr">4.8公里</span>
                                 <span class="cgray">浦东陆家嘴金融贸易区</span>
                              </div>
                           </div>
                            
                        </li>
                                                  
                        <li class="js_hotel_detail" data-hotelid="425164">
                            <div class="hotel-g-proimg"><img data-src="http://images4.c-ctrip.com/target/hotel/53000/52741/941abc93388f496cb660691cf8b48bde_130_130.jpg" width="96" height="96" ></div>
                            <div class="hotel-g-cbd">
                              <h4 class="ellips">上海宝安大酒店</h4>
                              <div class="list-c">
                                 <span class="price-num fr"><b class="num"><small>¥</small>428</b>起</span>
                                 <span class="rate-num"><b>4.2</b>分</span>
                                 <i class="hotel-icon-wifi"></i>
                                 <i class="hotel-icon-park"></i>
                              </div>
                              <div class="list-c">
                                 <span class="cgray">四星级酒店</span>
                                    <span class="ico-txt fr">
                                       <em class="ico-2">礼</em>
                                       <em class="ico-1">APP专享</em>
                                    </span>
                              </div>
                              <div class="list-c">
                                 <span class="cgray fr">4.8公里</span>
                                 <span class="cgray">浦东陆家嘴金融贸易区</span>
                              </div>
                           </div>
                            
                        </li>
                                                  
                        <li class="js_hotel_detail" data-hotelid="479654">
                            <div class="hotel-g-proimg"><img data-src="http://images4.c-ctrip.com/target/hotel/480000/479654/d710636554554c919fa16a83df499d3a_130_130.jpg" width="96" height="96" ></div>
                            <div class="hotel-g-cbd">
                              <h4 class="ellips">上海宝安大酒店</h4>
                              <div class="list-c">
                                 <span class="price-num fr"><b class="num"><small>¥</small>428</b>起</span>
                                 <span class="rate-num"><b>4.2</b>分</span>
                                 <i class="hotel-icon-wifi"></i>
                                 <i class="hotel-icon-park"></i>
                              </div>
                              <div class="list-c">
                                 <span class="cgray">四星级酒店</span>
                                    <span class="ico-txt fr">
                                       <em class="ico-2">礼</em>
                                       <em class="ico-1">APP专享</em>
                                    </span>
                              </div>
                              <div class="list-c">
                                 <span class="cgray fr">4.8公里</span>
                                 <span class="cgray">浦东陆家嘴金融贸易区</span>
                              </div>
                           </div>
                            
                        </li>
                                                  
                        <li class="js_hotel_detail" data-hotelid="438527">
                            <div class="hotel-g-proimg"><img data-src="http://images4.c-ctrip.com/target/hotel/439000/438527/df6db358e3794a3d82fbac78334a24e3_130_130.jpg" width="96" height="96" ></div>
                            <div class="hotel-g-cbd">
                              <h4 class="ellips">上海宝安大酒店</h4>
                              <div class="list-c">
                                 <span class="price-num fr"><b class="num"><small>¥</small>428</b>起</span>
                                 <span class="rate-num"><b>4.2</b>分</span>
                                 <i class="hotel-icon-wifi"></i>
                                 <i class="hotel-icon-park"></i>
                              </div>
                              <div class="list-c">
                                 <span class="cgray">四星级酒店</span>
                                    <span class="ico-txt fr">
                                       <em class="ico-2">礼</em>
                                       <em class="ico-1">APP专享</em>
                                    </span>
                              </div>
                              <div class="list-c">
                                 <span class="cgray fr">4.8公里</span>
                                 <span class="cgray">浦东陆家嘴金融贸易区</span>
                              </div>
                           </div>
                            
                        </li>
                                                  
                        <li class="js_hotel_detail" data-hotelid="427259">
                            <div class="hotel-g-proimg"><img data-src="http://images4.c-ctrip.com/target/hotel/46000/45420/544ece016d22476cb09207760e90e399_130_130.jpg" width="96" height="96" ></div>
                            <div class="hotel-g-cbd">
                              <h4 class="ellips">上海宝安大酒店</h4>
                              <div class="list-c">
                                 <span class="price-num fr"><b class="num"><small>¥</small>428</b>起</span>
                                 <span class="rate-num"><b>4.2</b>分</span>
                                 <i class="hotel-icon-wifi"></i>
                                 <i class="hotel-icon-park"></i>
                              </div>
                              <div class="list-c">
                                 <span class="cgray">四星级酒店</span>
                                    <span class="ico-txt fr">
                                       <em class="ico-2">礼</em>
                                       <em class="ico-1">APP专享</em>
                                    </span>
                              </div>
                              <div class="list-c">
                                 <span class="cgray fr">4.8公里</span>
                                 <span class="cgray">浦东陆家嘴金融贸易区</span>
                              </div>
                           </div>
                            
                        </li>
                                                  
                        <li class="js_hotel_detail" data-hotelid="793325">
                            <div class="hotel-g-proimg"><img data-src="http://images4.c-ctrip.com/target/hotel/794000/793325/ffc59538044b4da9bdab48ef10e55cd7_130_130.jpg" width="96" height="96" ></div>
                            <div class="hotel-g-cbd">
                              <h4 class="ellips">上海宝安大酒店</h4>
                              <div class="list-c">
                                 <span class="price-num fr"><b class="num"><small>¥</small>428</b>起</span>
                                 <span class="rate-num"><b>4.2</b>分</span>
                                 <i class="hotel-icon-wifi"></i>
                                 <i class="hotel-icon-park"></i>
                              </div>
                              <div class="list-c">
                                 <span class="cgray">四星级酒店</span>
                                    <span class="ico-txt fr">
                                       <em class="ico-2">礼</em>
                                       <em class="ico-1">APP专享</em>
                                    </span>
                              </div>
                              <div class="list-c">
                                 <span class="cgray fr">4.8公里</span>
                                 <span class="cgray">浦东陆家嘴金融贸易区</span>
                              </div>
                           </div>
                            
                        </li>
                                                  
</ul>
               </div>


    <h2>使用方法</h2>
    
    <h3>ImgLazyload的简单初始化</h3>
    <pre>
        <code class="javascript">
           define([<span class="string">'cImgLazyload'</span>], function (cImgLazyload) {
               <span class="keyword">var</span> s1 = <span class="keyword">null</span>;//初始化s1便于之后清除
               <span class="keyword">var</span> imgs = this.$(<span class="string">'#wrapper img'</span>); //warpper就是需要lazyload的区域
               //用法
               s1 = new cImgLazyload({
                  imgs: imgs
               });
               //退出此页面时候需要做资源清理
               s1.destroy();
             
        </code>
    </pre>
    <h3>事件响应</h3>
    <pre>
        <code>
            "click #append_img":function(e){//append_img是按钮的id
                var str = "<img data-src='' width='' height=''/>";
                $("#wrapper).append($(str));//将新添加的节点append到wrapper中去
                var imgs = this.$('#wrapper img);
                s1 = new cImgLazyload({
                      imgs: imgs
                });
                //重新激活，当图片数量变化（比如加载），或者页面长度变化时执行
                s1.refresh();
            
            }
        </code>
    </pre>
    <h2>主要属性如下</h2>
    <pre>
        <code class="javascript">
            // @param imgs{array} 图片集合
            // @param container{Dom} 图片容器，默认是window
            // @param width{int}  加载图片宽度，默认不理睬
            // @param height{int} 加载图片高度
            // @param loadingImg{String} 加载时候显示的图片
            // @param loadingBg{String} 具有div容器时候元素的背景色
            // @param wrapper{String} 加载图片包裹器，用于固定图片高宽的情况会自动出现
        </code>
    </pre>


