<link href="style/style.css" rel="stylesheet" />
<style>
.calendar-demo {
	background-color: Orange; 
	width: 135px;
	text-align: center
}
.calendar-wrap {
	overflow: hidden;
}
code {
  padding-top: 0;
}
.price_lowest {
  color: red;
}
.price_lowest:after {
  content: '最低价格';
  position: relative;
  top: -57px;
  font-size: .5em;
}
</style>
<h2>新日历的使用方法</h2>
<ol>
	<li>日历插件 (Calendar)
	<li>日历节日插件 (HolidayCalendar)
	<li>日历节日价格插件 (HolidayPriceCalendar)
</ol>
<h2>插件引用</h2>
<div class="calendar-wrap">
</div>
<pre><code>
define([
  'cCalendar'
]);
define([
  'cHolidayCalendar'
]);
define([
  'cHolidayPriceCalendar'
]);
</code></pre>
<h3>如果要使用单体模式，请在实例化函数体外面预先定义一个变量，然后再判断是否被实例化过</h3>
<pre><code>
var noop = function() {};
//默认参数
var defaults = {
  cls: 'cui-calendar',        //组件根类
  monthsNum: 1,               //月数
  animateSwitch: 'right',      //right, left, top, bottom
  format: 'Y-m-d',            //日期返回格式,在callback中的dateStyle.value中获取
  days: 'min',                //可选值'min', 'short', '',显示'日'或者'星期天','周日'
  monthFormate: 'Y年n月',     //月份显示格式
  //根元素选择器
  appendElement: 'body',      //日历的根元素插入哪里
  startTime: serverDateZero,  //开始时间，默认为服务器时间
  todayCls: 'cui_cld_today',  //今天，后天，明天类
  endTime: Number.MAX_VALUE,  //结束时间，默认为无限大
  header: {                   //日期头部
    title: '',
    tel: false,
    home: false,
    homeHandler: noop
  },
  headerTemplate: 
      '&ltheader&gt' +
        '&lth1&gt&lt%= title %&gt&lt/h1&gt' + 
        '&lti id="js_return" class="returnico lefthead"&gt&lt/i&gt' +
        '&lt% if(home) { %&gt &lti class="icon_home i_bef" id="c-ui-header-home"&gt&lt/i&gt &lt% } %&gt' +
        '&lt% if(tel) { %&gt&lta href="tel:&lt%= tel %&gt" class="icon_phone i_bef __hreftel__" id="c-ui-header-tel"&gt&lt/a&gt&lt% } %&gt' +
      '&lt/header&gt',
    bodyPrefixTemplate:
      '&ltarticle class="cont_wrap"&gt&ltdiv class="cui_cldwrap"&gt',
    daysTemplate: 
      '&ltul class="cui_cldweek"&gt' +
        '&lt% _.each(days, function(day) { %&gt' +
        '&ltli&gt&lt%= day %&gt' +
        '&lt% }); %&gt' +
      '&lt/ul&gt',
    monthTemplate:
      '&ltsection class="cui_cldunit"&gt' +
        '&lth1 class="cui_cldmonth"&gt&lt%= monthFormate %&gt&lt/h1&gt' + 
        '&ltul class="cui_cld_daybox"&gt' +
          '&lt% _.each(month, function(day) { %&gt' +
          '&ltli data-date="&lt%= day.format %&gt" class="&lt% if (day.invalid) { print("cui_cld_invalid cui_cld_daypass"); } else { print("cui_cld_valid"); } if(day.desc) { print(" cui_cld_day_havetxt"); } if (day.cls) { print(" " + day.cls); } %&gt"&gt' +
            '&ltem&gt&lt%= day.value %&gt&lt/em&gt' +
            '&lt% if (day.desc) { %&gt' +
            '&lti&gt&lt%= day.desc %&gt&lt/i&gt' +
            '&lt% } %&gt' +
          '&lt% }); %&gt' +
        '&lt/ul&gt' +
      '&lt/section&gt',
    bodySuffixTemplate: '&lt/div&gt&lt/article&gt',
  callback: noop,            //日期被点后的回调函数function (date, dateStyle, target) {}      
  onShow: noop,              //日期展示后的回调函数
  onHide: noop,              //日期隐藏后的回调函数
  constant: {
    days: ['星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六'],
    daysShort: ['周日', '周一', '周二', '周三', '周四', '周五', '周六'],
    daysMin:  ['日', '一', '二', '三', '四', '五', '六'],
    months: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
    monthsShort: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月']
  }
};
</code></pre>
<pre><code class="javascript">
calendar = new Calendar({
  appendElement: '.calendar-wrap',
  animateSwitch: 'top',
  monthsNum: 2,
  header: false,
  callback: function(date, dateStyle, target) {
    this.$el.find('.cui_cld_daycrt').removeClass('cui_cld_daycrt');
    target.addClass('cui_cld_daycrt');
    this.hide();
  },
  onShow: function() {
    window.scrollTo(0, 0);
  },
  onHide: function() {
  }
});
calendar.show();
</code></pre>
<input type="button" class="calendar-demo" value="普通日历" id="demo1">
<pre><code>
//节日日历参数, 扩展于Calendar.defaults
var defaults = _.defaults({
  holidayCls: 'cui_cld_holiday',            //节日的类
  solarHoliday: {                           //阳历节日
    '0101': '元旦',
    '0214': '情人节',
    '0405': '清明',
    '0501': '劳动节',
    '1001': '国庆',
    '1225': '圣诞节'
  },
  lunarHoliday: {                           //阴历节日,不需要请设置为false
    '1230': '除夕',
    '0101': '春节',
    '0115': '元宵',
    '0505': '端午',
    '0707': '七夕',
    '0815': '中秋',
    '0909': '重阳'
  }
}, Calendar.defaults);
</code></pre>
<pre><code>
var calendar = new HolidayCalendar({
  monthsNum: 7,
  header: {
    title: '中国节日插件'
  },
  callback: function(date, dateStyle, target) {
    target.addClass('cui_cld_daycrt');
    this.hide();
  },
  onHide: function() {
    //日历销毁
    this.remove();
  }
});
calendar.show();
</code></pre>
<pre><code>
var calender = new HolidayCalendar({
  monthsNum: 6,
  solarHoliday: {
    '1225': '圣诞节',
    '1001': '国庆节',
    '0909': '中秋节',
    '0701': '回归纪念日',
    '0602': '端午节',
    '0506': '佛诞',
    '0501': '劳动节',
    '0421': '复活节',
    '0419': '受难节翌日',
    '0418': '受难节',
    '0405': '清明节',
    '0203': '年初四',
    '0201': '年初二',
    '0131': '年初一',
    '0101': '元旦' 
  },
  lunarHoliday: false,
  callback: function(date, dateStyle, target) {},
  onHide: function() {}
});
calender.show();
</code></pre>

<input type="button" style="background-color: Orange; width: 135px;text-align: center" value="中国节日日历" id="demo2">
<input type="button" class="calendar-demo" id="demo3" value="香港节日日历">
<pre><code>
//节日价格日历默认参数,扩展于节日参数
var defaults = _.defaults({
  unit: '¥',                      //价格单位
  lowestCls: 'price_lowest',      //当月最低价格类
  priceDate: [],                  //价格日期
  startPriceTime: false,          //价格开始时间
  voidInvalid: true               //没有价格的日期是否有效可点

}, HolidayCalendar.defaults);
</code></pre>
<input type="button" class="calendar-demo" value="价格日历启程" id="demo4">
<input type="button" class="calendar-demo" value="价格日历返程" id="demo5">
<h2>API</h2>
<pre><code>
isValid(date)
判断判断日历中，一个日期是否合法

createMonth(year, month)
创建每个月份

setPriceDate(value)
重新设置低价日历的priceDate

isPriceValidTime(date)
判断价格日历中，一个日期是否合法
</code></pre>