<link href="style/style.css" rel="stylesheet" />

<div id="previewPane" class="pane" style="display: block; "><h2>这里是c.ui.num的使用，该插件提供一个加减按钮供选择，并且提供文本框供设置，下面是几个例子：</h2>

<h2>基本参数说明</h2>

<pre><code class="css">// @<span class="keyword">param</span> rootBox <span class="rules">{dom}</span>            控件的容器
// @<span class="keyword">param</span> changed <span class="rules">{function}</span>       点击加号，减号触发的函数
// @<span class="keyword">param</span> changeAble <span class="rules">{bool}</span>        按钮是否可点击,
// @<span class="keyword">param</span> unit <span class="rules">{String}</span>            控件的计量单位
// @<span class="keyword">param</span> needText <span class="rules">{bool}</span>          文本框是否可是输入
// @<span class="keyword">param</span> max <span class="rules">{int}</span>                最大值
// @<span class="keyword">param</span> min <span class="rules">{int}</span>                最小值
// @<span class="keyword">param</span> curNum <span class="rules">{int}</span>             当前值
</code></pre>

<h2>demo1：基本状态</h2>

<div id="demo1" class="ml_27">
</div>
<span class="ml_27">当前选择：<span id="sec1"></span></span>

<pre><code class="php">define([<span class="string">'app/ui/c.ui.num'</span>], <span class="keyword">function</span>(num){
    <span class="comment">// --------------------</span>
    <span class="comment">// 初始化num控件</span>
    <span class="keyword">var</span> scope = <span class="keyword">this</span>;
    <span class="keyword">var</span> num = <span class="keyword">new</span> c.cuiNum({
        rootBox: <span class="keyword">this</span>.$(<span class="string">'#demo1'</span>),             <span class="comment">//控件的容器</span>
        max: <span class="number">20</span>,                               <span class="comment">//最大值</span>
        min: <span class="number">2</span>,                                <span class="comment">//最小值</span>
        curNum: <span class="number">3</span>,                             <span class="comment">//当前值</span>
        changed: <span class="keyword">function</span>(v){                 <span class="comment">//控件点击时触发的函数</span>
            scope.$(<span class="string">'#sec1'</span>).html(v);
        }
    });

});
</code></pre>

<h2>demo2：设置现在，需要demo1，选项是5的情况下才能设置</h2>

<div id="demo2" class="ml_27">
</div>
<span class="ml_27">当前选择：<span id="sec2"></span></span>

<pre><code class="javascript">define([<span class="string">'app/ui/c.ui.num'</span>], <span class="keyword">function</span>(num){
    <span class="comment">// --------------------</span>
    <span class="comment">// 初始化num控件</span>
    <span class="keyword">var</span> scope = <span class="keyword">this</span>;
    <span class="keyword">var</span> num = <span class="keyword">new</span> c.cuiNum({
        rootBox: <span class="keyword">this</span>.$(<span class="string">'#demo2'</span>),             <span class="comment">//控件的容器</span>
        changeAble: <span class="function"><span class="keyword">function</span> <span class="params">()</span> {</span>
        <span class="keyword">if</span> (scope.num1.getVal() == <span class="number">5</span>) {
            <span class="keyword">return</span> <span class="literal">true</span>;
        }
        alert(<span class="string">'demo1 的值必须是5才可设置'</span>);
            <span class="keyword">return</span> <span class="literal">false</span>;
        },
        changed: <span class="keyword">function</span>(v){                  <span class="comment">//控件点击时触发的函数</span>
            scope.$(<span class="string">'#sec1'</span>).html(v);
        }
    });

    });
</code></pre>


<h2>demo3：设置单位</h2>

<div id="demo3" class="ml_27">
</div>
<span class="ml_27">当前选择：<span id="sec3"></span></span>

<pre><code class="php">define([<span class="string">'app/ui/c.ui.num'</span>], <span class="keyword">function</span>(num){
    <span class="comment">// --------------------</span>
    <span class="comment">// 初始化num控件</span>
    <span class="keyword">var</span> scope = <span class="keyword">this</span>;
    <span class="keyword">var</span> num = <span class="keyword">new</span> c.cuiNum({
        rootBox: <span class="keyword">this</span>.$(<span class="string">'#demo3'</span>),             <span class="comment">//控件的容器</span>
        unit: <span class="string">'元'</span>,                            <span class="comment">//控件的单位计量</span>
        changed: <span class="keyword">function</span>(v){                  <span class="comment">//控件点击时触发的函数</span>
            scope.$(<span class="string">'#sec1'</span>).html(v);
        }
    });

    });
</code></pre>


<h2>demo4：文本框不可用</h2>

<div id="demo4" class="ml_27">
</div>
<span class="ml_27">当前选择：<span id="sec4"></span></span>

<pre><code class="javascript">define([<span class="string">'app/ui/c.ui.num'</span>], <span class="keyword">function</span>(num){
    <span class="comment">// --------------------</span>
    <span class="comment">// 初始化num控件</span>
    <span class="keyword">var</span> scope = <span class="keyword">this</span>;
    <span class="keyword">var</span> num = <span class="keyword">new</span> c.cuiNum({
        rootBox: <span class="keyword">this</span>.$(<span class="string">'#demo4'</span>),             <span class="comment">//控件的容器</span>
        needText: <span class="literal">false</span>,                       <span class="comment">//文本框是否可以键入</span>
        changed: <span class="keyword">function</span>(v){                  <span class="comment">//控件点击时触发的函数</span>
            scope.$(<span class="string">'#sec1'</span>).html(v);
        }
    });

});
</code></pre>

</div>

        

        