<link href="style/style.css" rel="stylesheet" />
<h3>效果实例</h3>
<input type="text" id="input" index="1" style="background: #eee; margin:10px;" placeholder="选择日期……" />
<input type="text" id="port_time" index="1" style="background: #eee; margin:10px;" placeholder="用车时间……" />

<input type="button" id="city" index="1" style="background: #eee; margin:10px;" placeholder="城市" value="城市" />

<div id="previewPane" class="pane" style="display: block; "><h2>Attribute</h2>

<pre><code class="css">// @<span class="keyword">param</span> <span class="keyword">title</span> <span class="rules">{dom}</span>              标题dom
// @<span class="keyword">param</span> content <span class="rules">{dom}</span>            内容区dom
// @<span class="keyword">param</span> changed <span class="rules">{array}</span>          各个scroll的回调函数，数组装的是回调函数，当scroll组件发生变化时触发
// @<span class="keyword">param</span> mask <span class="rules">{Mask}</span>              蒙版遮盖层
// @<span class="keyword">param</span> scroll <span class="rules">{array}</span>           滚轮集合（数组）
// @<span class="keyword">param</span> data <span class="rules">{array}</span>             各个scroll组件数据源
// @<span class="keyword">param</span> index <span class="rules">{array}</span>            各个scroll组件索引
// @<span class="keyword">param</span> key <span class="rules">{array}</span>              各个scroll组件当前键值（优先级比index高）
// @<span class="keyword">param</span> disItemNum <span class="rules">{int}</span>         scroll组件显示项目
// @<span class="keyword">param</span> tips <span class="rules">{dom}</span>               提示区dom
// @<span class="keyword">param</span> btCancel <span class="rules">{dom}</span>           取消按钮dom
// @<span class="keyword">param</span> btOk <span class="rules">{dom}</span>               确定按钮dom
// @<span class="keyword">param</span> cancel <span class="rules">{String}</span>          取消文本
// @<span class="keyword">param</span> ok<span class="rules">{String}</span>               确定文本
// @<span class="keyword">param</span> cancelClick <span class="rules">{function}</span>   取消回调函数
// @<span class="keyword">param</span> okClick <span class="rules">{function}</span>       确定回调函数
</code></pre>

<h2>Method</h2>

<h3>public setTips</h3>

<pre><code class="css">// @<span class="keyword">param</span> str <span class="rules">{String}</span>        tip区域要显示的内容
    setTips: function (str) <span class="rules">{ ... }</span>
</code></pre>


<h2>使用方法</h2>

<h2>初始化ScrollRadio</h2>

<pre><code class="javascript">define([<span class="string">'app/ui/c.ui.scroll.radio'</span>], <span class="keyword">function</span>(ScrollRadio){
    <span class="keyword">var</span> scroll = <span class="keyword">new</span> ScrollRadio({
        title: <span class="string">'选择日期'</span>,
        data: [d1, d2],
        index: arrIndex,
        disItemNum: <span class="number">3</span>,                  <span class="comment">//scroll组件显示项目</span>
        cancel: <span class="string">'cancel'</span>,               <span class="comment">//按钮取消的文本</span>
        ok: <span class="string">'ok'</span>,                       <span class="comment">//按钮确认的文本</span>
        okClick: <span class="function"><span class="keyword">function</span> <span class="params">(item)</span> {</span>      <span class="comment">//确定回调函数</span>
            <span class="keyword">var</span> t1 = item[<span class="number">0</span>], t2 = item[<span class="number">1</span>];
            <span class="keyword">var</span> str = t1.key + <span class="string">''</span> + t2.key;
            <span class="keyword">var</span> index = t1.index + <span class="string">','</span> + t2.index;
            validity.val(str);
            validity.attr(<span class="string">'index'</span>, index);
            console.log(<span class="string">'ok callback'</span>);
        },
        cancelClick: <span class="keyword">function</span>() {   <span class="comment">//取消回调函数</span>
            console.log(<span class="string">'cancel callback'</span>);
        }
    });
});

于是便可初始化组件，点击蒙版，或者选择项目组件会自动关闭
</code></pre></div>

