<link href="style/style.css" rel="stylesheet" />
<style type="text/css">
    .cui-number-ma { min-width: 100px; height: 29px; line-height: 29px; text-align: center; position: relative; border: #c0c0c0 1px solid; background: white; display: inline-block; }
    .cui-number-ma i { width: 50px; height: 44px; position: absolute; top: -7px; }
    .cui-number-ma i.num-minus { left: -10px; font: normal 2.8em/25px "Arial"; }
    .cui-number-ma i.num-add { right: -10px; font: normal 2.2em/29px "Arial"; }
    .cui-number-ma i:after { color: white; text-align: center; width: 32px; height: 29px; position: absolute; background: #099fde; }
    .cui-number-ma i.num-minus:after { content: "-"; left: 10px; top: 7px; }
    .cui-number-ma i.num-add:after { content: "+"; right: 10px; top: 7px; }
    .cui-number-ma i.num-invalid:after { color: #d9d9d9; background: #f4f4f4; }
    .cui-number-ma .num-value { display: inline-block; margin: 0 33px; }
    .cui-number-ma .num-value .num-txt { width: 35px; height: 100%; padding: 0; text-align: center; }
    .cui-number-ma input[type=tel]:disabled { color: black !important; }
</style>
<article class="wrap">
    <ul class="serach_tab">
        <li data-hash="flight">按航班号</li>
        <li data-hash="port" class="current">按机场/车站</li>
    </ul>
    <p class="clear">
    </p>
    <section class="p10">
        <ul class="list_st_border carlist airport">
            <li>
                <label>
                    城市列表
                    <div id="grouplistWrapper">
                    </div>
                </label>
            </li>
            <li>
                <label>
                    测试增减
                    <div id="psWrapper">
                    </div>
                </label>
            </li>
            <li>
                <label>
                    测试原生</label><input id="Datetime1" placeholder="click me" type="number" />
                <input id="Datetime2" placeholder="click me" type="text" />
            </li>
            <li>
                <label>
                    单选框</label><em id="port_place" placeholder="click me">click me</em></li>
            <li>
                <label>
                    用车时间</label><em id="port_time" placeholder="click me">click me</em></li>
            <li>
                <label>
                    有效期</label><em id="validity" placeholder="click me">click me</em></li>
            <li>
                <label>
                    滚轮change事件</label><em id="city" placeholder="click me">click me</em></li>
            <li>
                <label>
                    store数据源</label><em id="store" placeholder="click me">click me</em></li>
            <li>
                <label>
                    测试原生</label><input id="Datetime3" placeholder="click me" type="text" />
                <input id="Datetime4" placeholder="click me" type="text" />
            </li>
            <li>
                <label>
                    store数据源带按钮</label><em id="storeHasBtn" placeholder="click me">click me</em></li>
            <li>
                <label>
                    设置值</label><em id="key" placeholder="click me">click me</em></li>
            <li>
                <label>
                    延迟加载</label><em id="lazyImg" placeholder="click me"><img alt="" id="img" /></em></li>
            <li>
                <label>
                    没有数据</label><em id="noRecord" placeholder="click me">click me</em></li>
            <li>
                <label>
                    测试原生</label><input id="native" placeholder="click me" type="text" />
                <input id="Month1" placeholder="click me" type="text" />
            </li>
        </ul>
        <nav class="searchbom" id="searchCar" data-hash="list">
            <button class="btn">
                查询
            </button>
        </nav>
    </section>
</article>
<div id="in_footer" class="fix_bottom js_in_Footer">
    <ul class="tab_search">
        <li class="tabcrt">机票查询</li>
        <li class=""><a href="/html5/Flight/Schedule/">航班动态</a></li>
    </ul>
</div>
