<style>
    .selectcity {
        width:auto;
        padding:0 14px;
        border:1px solid #ccc;
        background: #fff;
    }
    .sel_li {
        padding: 0 10px;
        line-height: 43px;
        display: inline-block;
    }
    .acityname {
        display: inline-block;
        line-height: 43px;
        cursor: pointer;
    }
</style>
<link href="style/style.css" rel="stylesheet" />

<ul>
    <li class="selectcity">
        <label class="sel_li">用车城市: &nbsp;</label><em class="acityname">上海</em><i class="newarr_r"></i>
    </li>
</ul>
