<link href="style/style.css" rel="stylesheet" />
<div id="slidecontainer"></div>

<div id="previewPane" class="pane" style="display: block;"><h2>slide组件，图片轮播</h2>

<h3>主要属性如下：</h3>

<pre><code class="css">// @<span class="keyword">param</span> container <span class="rules">{dom}</span>           容器元素的dom
// @<span class="keyword">param</span> images <span class="rules">{Array}</span>            要轮播的图片数组
// @<span class="keyword">param</span> autoplay <span class="rules">{bool}</span>           是否自动播放
// @<span class="keyword">param</span> loop <span class="rules">{bool}</span>               是否轮播
// @<span class="keyword">param</span> isadaptive <span class="rules">{bool}</span>         设置是否需要自适应
</code></pre>

<h2>使用方法</h2>

<h3>slider的简单初始化</h3>

<pre><code class="javascript">
<span class="comment">//给容器添加样式</span>
$(<span class="string">'#slidecontainer'</span>).css({
    <span class="string">'width'</span>: <span class="string">'100%'</span>,
    <span class="string">'margin'</span>: <span class="string">'auto'</span>,
    <span class="string">'overflow'</span>: <span class="string">'hidden'</span>,
    <span class="string">'position'</span>: <span class="string">'relative'</span>
})

<span class="comment">//imgs Array的数据格式</span>
<span class="keyword">var</span> imgs = [];
imgs.push({
    title: <span class="string">'x1'</span>,
    src: <span class="string">'http://images4.c-ctrip.com/target/hotel/22000/21648/4da868bdf30b44ff894b4398a0a4bf96_300_225.jpg'</span>,
    link: <span class="string">'http://www.google.com'</span>
});
imgs.push({
    title: <span class="string">'x2'</span>,
    src: <span class="string">'http://images4.c-ctrip.com/target/hotel/22000/21648/5F6FB757-19CD-4D99-8C9C-77E92EB6E7DF_300_225.jpg'</span>,
    link: <span class="string">'http://www.google.com'</span>
});
imgs.push({
    title: <span class="string">'x3'</span>,
    src: <span class="string">'http://images4.c-ctrip.com/target/hotel/22000/21648/542d8c19b5ab4b93ad936c54d2b9453e_300_225.jpg'</span>,
    link: <span class="string">'http://www.google.com'</span>
});

<span class="comment">//slider的初始化</span>
<span class="keyword">var</span> slide = <span class="keyword">new</span> slider({
    container: $(<span class="string">'#slidecontainer'</span>),    <span class="comment">//容器的dom</span>
    images: imgs,                       <span class="comment">//imgs的数据</span>
    autoplay: <span class="literal">false</span>,                    <span class="comment">//是否轮播</span>
    loop: <span class="literal">true</span>,                         <span class="comment">//是否循环轮播</span>
    isadaptive: <span class="literal">true</span>                    <span class="comment">// 设置是否需要自适应</span>
});

</code></pre></div>