<link href="style/style.css" rel="stylesheet" />
<section class="search_wrap">
    <div class="clear-input-box">
        <input id="inputvalue" class="search_input abs_size" placeholder="输入要存储的内容" maxlength="40">
    </div>
</section>
<br>
<div>
    <input type="button" id="saveBtn" value="保存set" style="background-color:Orange; width:135px; text-align:center" />
</div>
<br>
<div>
    <input type="button" id="setAction" value="保存setAttr" style="background-color:Orange; width:135px; text-align:center" />
</div>
<br>
<div>
    <input type="button" id="readBtn" value="读取" style="background-color:Orange; width:135px; text-align:center" />
</div>
<br>
<div>
    <input type="button" id="getAttrBtn" value="读取getAttr" style="background-color:Orange; width:135px; text-align:center" />
</div>
<br>
<div>
    <input type="button" id="deleteBtn" value="删除" style="background-color:Orange; width:135px; text-align:center" />
</div>
