<div id="js-tab-scroll">
</div>
<div id="diyshx-tab-items" class="tab-scroll-wrap">
<div class="tab-scroll clearfix">
  <div class="profile_box js-tab-scroll-content">
    <div class="product_wrap">
      <hgroup class="hgroup">
        <h2>﻿入住南京古南都饭店，免费赠送阅江楼门票！畅游江苏，乐享青奥 ！～ </h2>
        <p class="hg_mb8"><span class="price"><dfn>¥</dfn><span id="diyshx-detailpro-sdpprice">259</span><em>起/人</em>
          </span>
        </p>
        <div class="diyshx-sdpdesc ellips_line2">

          <h3>★产品经理回馈客户！！住酒店送门票喽～！！数量有限，抢完为止！</h3>

          <h3>★ 南京古南都饭店座落于南京市的中心地带——新街口地区，周边餐饮、娱乐、休闲及健身场所林立 </h3>

        </div>
        <p class="more_link"><a href="javascript:void(0)" class="a_server_on diyshx-sdpdescmore">更多</a>
        </p>
      </hgroup>
      <!--<p class="drop_tip"><i class="tip_tit tip_tit02">优惠</i>提前21天预订，每成人立减200元！字数太多折行显示完整</p>-->
      <div>
      </div>
    </div>
    <div>
      <div id="diyshx-cal-placeholder" style="display: none;"></div>
      <div style="">
        <div class="search_resluts">
          <div class="title diyshx-nodate-div pro_htl_date01">
            <p class="date right_more_link"><span class="">请选择入住日期</span>
            </p>
          </div>
          <div class="pro_htl_date pro_htl_date01 bxdate diyshx-date-div" style="display: none;">
            <a href="javascript:void(0)" class="flr diyshx-nodate-btn">不限日期</a>
            <h3 class="date_icon01 diyshx-date-selector">入住日期 <span class="ml10 diyshx-date-lebel">7月24日-7月25日</span></h3>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div>
        <div class="logo_loading" style="display: none;"><i></i>
        </div>
      </div>
      <div class="restEl">
        <div>
          <p class="title_icon01 house_icon01"><span class="fll">门票</span>门票费用已包含在套餐费用中</p>
          <div>
            <div class="pro_htl_date pro_htl_date02 blue_border01 no_row">


              <a href="javascript:void(0)" class="flr diyshx-ticket-detail">详情</a>

              <h3 class="">阅江楼门票 <span class="ml10"><em class="v_orange">1</em>张</span></h3>
            </div>
          </div>
        </div>
        <div>
          <p class="title_icon01 bed_icon01"><span class="fll">酒店</span><span id="diyshx-hotels-count">1</span>家酒店可供选择</p>
          <div class="htl_wrap htl_wrap_02 " id="diyshx-hotels-container">
            <div>
              <dl class="on orange_border01">
                <dt class="hwrap02_title">
				<h3>南京古南都饭店</h3>
                <div class="base_loading" style="display:none"><i></i>加载中</div>
                <div class="failure_tips" style="display:none">
									<p class="info">酒店信息加载失败</p>
									<p><a href="javascript:void(0)" class="try_again hotel_try_again">重试</a></p>
				</div>
                <span class="diyshx-closeinfo" style="display: none;">
                    <p class="gray">五星级</p>
                    
				    <p class="gray">距阅江楼景点5.35公里<a href="javascript:void(0)" class="color_blue flr diyshx-hotel-map">地图</a></p>
                    
                </span>
				</dt>
                <dd class="diyshx-hotelinfo">
                  <div class="htl_item">

                    <div class="pic hotel-small-div">
                      <img src="http://images4.c-ctrip.com/target/hotel/2000/1592/2ae257a193c74e0db6f04b092affbe8e_300_225.jpg" alt=""><span class="pic_touch"><strong>12</strong>张</span>
                    </div>

                    <ul class="htl_item_list">

                      <li class="no_arrow">暂无点评</li>


                      <li class="diyshx-hotel-detail htl_item_style01 hotel_icon">
                        <p class="address">1993年开业&nbsp;&nbsp;&nbsp;2011年装修
                        </p>

                        <p class="tag_box"><i class="icon_wifi"></i>  <i class="icon_net"></i>  <i class="icon_park"></i>  <i class="icon_swimming"></i>  <i class="icon_gym"></i>  <i class="icon_meet"></i> 
                        </p>

                      </li>
                      <li class="htl_item_style01 map_icon bt_style  diyshx-hotel-map"><a href="javascript:void(0)" class="flr">地图</a>
                        <h3>暂无地址信息</h3>距阅江楼景点5.35公里</li>
                    </ul>
                  </div>
                  <ul class="htl_list diyshx-hotel-rooms">
                    <!--roomlist-->
                    <li class="no_row">
                      <div class="diyshx-hotelroom-item">
                        <div class="pic">
                          <img src="http://pic.c-ctrip.com/h5/taocan/scenic_htl/pic_small_none.png" alt="">
                        </div>
                        <div class="price_htl">
                          <p class="prices"><span class="">实时计价</span>
                          </p>
                          <p class="save" style="visibility: hidden;"><span class="sale">省</span><span class="price"><dfn>¥</dfn>0</span>
                          </p>
                          <p class="btn_book_box"><a href="javascript:void(0)" class="diyshx-booking-a btn_book">预订</a>
                          </p>
                        </div>
                        <div class="con">
                          <h4>高级房(赠送阅江楼门票)&lt;控房&gt;[含早]&lt;度假&gt;套餐</h4>
                          <p>无早&nbsp;&nbsp;大床/双床</p>
                          <p class="spc_tips"><span class="peonum">可住2成人</span> 
                          </p>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <a href="javascript:void(0)" class="unfold" id="diyshx-expandroom-btn" style="display:none">展开所有房型</a>



                </dd>
                <dd class="price_dd">
                  <div class="server_tips_price">
                    <a href="javascript:void(0)" class="more_link hotelexpandBtn down">收起</a>
                    <span class="gray">套餐价</span>  <span class="price">实时计价</span>
                  </div>
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="profile_box js-tab-scroll-content">
    <div class="profile_box">
      <div class="logo_loading" style="display: none;"><i></i>
      </div>
      <div class="wireless_failure" style="display:none">
        <div class="no_wifi">
          <i class="wifi_ico"></i>
          <p>
            网络不给力，请稍后再试试吧</p>
          <a class="try_again" href="javascript:void(0);">重试</a>
        </div>
        <div class="dial_service">
          <p>
            或者拨打携程客服电话</p>
          <a href="tel:4000086666" class="dial_btn __hreftel__">联系客服</a>
        </div>
      </div>
      <div id="diyshx-introduce-details">
        <div class="scenic">
          <h2>﻿阅江楼</h2>
          <div class="sce_con">
            <div class="sce_tit">

              营业时间

            </div>
            <div class="sce_item">

              7:30-17:30

            </div>

            <div class="sce_address">
              <div class="sce_tit">

                景点地址

              </div>

              <div class="sce_item sce_item2 map_info">
                南京市建宁路202号
                <a href="javascript:;" class="a_map" id="diyshx-introduction-map">地图</a>
              </div>


            </div>

            <div class="sce_tit">

              景点介绍

            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="js-tab-scroll-content">
    <div class="score_box" id="c-diyshx-comment-box" style="">
      <div id="diyshx-comment-total">
        <div class="total_score">
          <div class="score_people">74人点评</div>
          <div class="score_box_cj">总评：
            <div id="c-diyshx-comment-tstar" class="cstar_box">
              <span class="cui-rate"><span class="cui-rate-r1"><i data-index="0"></i><i data-index="1"></i><i data-index="2"></i><i data-index="3"></i><i data-index="4"></i></span><span class="cui-rate-r2" style="width:80%"><i data-index="0"></i><i data-index="1"></i><i data-index="2"></i><i data-index="3"></i><i data-index="4"></i></span></span>
            </div>
          </div>
          <span class="score_num">4<i class="fen">分</i></span>
        </div>
      </div>
      <ul class="score_detail diyshx-commentList">

        <li class="detail_wrap">
          <div class="name_wrap">
            <span class="date">2013-05-14</span>
            <span class="name">快乐走天下dQ</span>
          </div>
          <div class="score_ico_wrap">
            <div class="score_box_cj">评分：
              <div class="cstar_box">

                <span class="cui-rate"><span class="cui-rate-r1"><i data-index="0"></i><i data-index="1"></i><i data-index="2"></i><i data-index="3"></i><i data-index="4"></i></span><span class="cui-rate-r2" style="width:80%"><i data-index="0"></i><i data-index="1"></i><i data-index="2"></i><i data-index="3"></i><i data-index="4"></i></span></span>


              </div>
            </div>
            <span class="score_num">4<i class="fen">分</i></span>
          </div>
          <dl class="score_txt">
            <dd>在门票四十的景点看都不看售票处一眼随手掏出一张年卡?闲庭信步走进去?这是多少爽的一件事啊?哈哈从灵谷寺九层到阅江楼六层?阅江?阅城?阅天下'</dd>
          </dl>
        </li>



      </ul>
      <div>
        <div class="base_loading diyshx-comment-moreloading" style="display: none;"><i></i>加载中</div>
        <div class="no_comment" style="display:none">暂无点评</div>
        <div class="logo_loading" style="display: none;"><i></i>
        </div>
        <div class="no_more diyshx-comment-nomore" style="display:none">没有更多内容了</div>
        <div class="wireless_failure" style="display:none">
          <div class="no_wifi">
            <i class="wifi_ico"></i>
            <p>
              网络不给力，请稍后再试试吧</p>
            <a class="try_again" href="javascript:void(0);">重试</a>
          </div>
          <div class="dial_service">
            <p>
              或者拨打携程客服电话</p>
            <a href="tel:4000086666" class="dial_btn __hreftel__">联系客服</a>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>
</div>