<link href="style/style.css" rel="stylesheet" />
<link href="../res/style/cui.css" rel="stylesheet" />

<div class="hm" style="text-align: left;padding: 14px 0 0 22px;"></div>

<div id="previewPane" class="pane" style="display: block; "><h2>这里是c.ui.star的使用，该插件提供一个加减按钮供选择，并且提供文本框供设置，下面是几个例子：</h2>

<h2>基本参数说明</h2>

<pre><code class="css">// @<span class="keyword">param</span> rootBox <span class="rules">{dom}</span>               控件的容器
// @<span class="keyword">param</span> count <span class="rules">{int}</span>                 评分的总个数
// @<span class="keyword">param</span> curNum <span class="rules">{int}</span>                当前选了几颗评分,
// @<span class="keyword">param</span> showInfo <span class="rules">{bool}</span>             是否显示对应的评价信息
// @<span class="keyword">param</span> starInfo <span class="rules">{Array}</span>            评价信息
</code></pre>

<pre><code class="javascript">define([<span class="string">'app/ui/c.ui.test'</span>], <span class="keyword">function</span>(test){
    <span class="comment">// --------------------</span>
    <span class="comment">// 初始化评分控件</span>
    <span class="keyword">var</span> arr = [<span class="string">'1星评价'</span>, <span class="string">'2星评价'</span>, <span class="string">'3星评价'</span>, <span class="string">'4星评价'</span>, <span class="string">'5星评价'</span>,<span class="string">'6星评价'</span>];
    s = <span class="keyword">new</span> cUI.cuiTest({
        rootBox: $(<span class="string">'.hm'</span>),       <span class="comment">//组件的容器</span>
        count: <span class="number">6</span>,                <span class="comment">//评分的总个数</span>
        curNum:<span class="number">1</span>,                <span class="comment">//当前选了几颗评分</span>
        showInfo: <span class="literal">true</span>,          <span class="comment">//是否显示对应的评价信息</span>
        starInfo: arr            <span class="comment">//评价信息</span>
    });
});
</code></pre></div>


