@using System.Configuration;
@{
  ViewBag.Title = "datas";
}

<script type="text/lizard-config">
{
  url_schema: '/pageview',
  models: {
    apis: [],
    filter: function(datas) {
      return {};
    }
  },

  view:{
    viewport: Lizard.T("viewportTmpl")
  },
  viewName: 'datas',
  controller: '/webapp/demo2.1/webresource/controllers/pageview/datas.js'
}
</script>

<script id="viewportTmpl" type="text/lizard-template">
<h2 class="guide-title">用法</h2>
<pre><code>
/*
* 返回ajax取出的数据，在filter中渲染到页面
*/
 {
   "model": {
       apis:[{
           url:'http://m.ctrip.com/d/list1',
           postdata: {
             limit: 5,
             check: function() {
               return Lizard.D('list2').check;
             }
           }
       }],
       filter: function (datas){
         return datas;//返回api中取出的数据
       }
   },
   "view":{
     "viewport": Lizard.T("viewportTmpl")
   }
 }
</code></pre>
</script>
