@using System.Configuration;
@{
  ViewBag.Title = "pageid";
}

<script type="text/lizard-config">
{
  url_schema: '/pageview',
  models: {
    apis: [],
    filter: function(datas) {
      return {};
    }
  },

  view:{
    viewport: Lizard.T("viewportTmpl")
  },
  viewName: 'pageid',
  controller: '/webapp/demo2.1/webresource/controllers/pageview/pageid.js'
}
</script>

<script id="viewportTmpl" type="text/lizard-template">
<h2 class="guide-title">用法</h2>
<pre><code>
/*
 * 每个页面都有pageid，hybrid下是hpageid
 * ubt统计数据使用
 */

</code></pre>
</script>
