@using System.Configuration;
@{
  ViewBag.Title = "referrer";
}

<script type="text/lizard-config">
{
  url_schema: '/pageview',
  models: {
    apis: [],
    filter: function(datas) {
      return {};
    }
  },

  view:{
    viewport: Lizard.T("viewportTmpl")
  },
  viewName: 'referrer',
  controller: '/webapp/demo2.1/webresource/controllers/pageview/referrer.js'
}
</script>

<script id="viewportTmpl" type="text/lizard-template">
<h2 class="guide-title">用法</h2>
<pre><code>
/*
 * 获得上一个页面的viewName
 * 直接刷新页面referrer为null
 * 从上一个页面进入才能获取viewName
 */
 this.referrer
</code></pre>
<h2 class="guide-title">实例展示</h2>
<span class="btn-primary js-btn">获取referrer</span>
<pre class="js-log"></pre>
</script>
