@using System.Configuration;
@{
  ViewBag.Title = "showMessage";
}

<script type="text/lizard-config">
{
  url_schema: '/pageview',
  models: {
    apis: [],
    filter: function(datas) {
      return {};
    }
  },

  view:{
    viewport: Lizard.T("viewportTmpl")
  },
  viewName: 'showMessage',
  controller: '/webapp/demo2.1/webresource/controllers/pageview/showMessage.js'
}
</script>

<script id="viewportTmpl" type="text/lizard-template">

<h2 class="guide-title">实例展示</h2>
<p></p>
<span class="btn-primary js-message-basic">基本使用</span>
<span class="btn-primary js-message-title">带标题</span>
<span class="btn-primary js-message-callback">事件回调</span>
</script>
