@using System.Configuration;
@{
  ViewBag.Title = "showConfirm";
}

<script type="text/lizard-config">
{
  url_schema: '/pageview',
  models: {
    apis: [],
    filter: function(datas) {
      return {};
    }
  },

  view:{
    viewport: Lizard.T("viewportTmpl")
  },
  viewName: 'showConfirm',
  controller: '/webapp/demo2.1/webresource/controllers/pageview/showConfirm.js'
}
</script>

<script id="viewportTmpl" type="text/lizard-template">
<h2 class="guide-title">实例展示</h2>
<span class="btn-primary js-confirm-basic">基本调用</span>
<span class="btn-primary js-confirm-callback">事件回调</span>
</script>
