@using System.Configuration;
@{
  ViewBag.Title = "showLoading";
}

<script type="text/lizard-config">
{
  url_schema: '/pageview',
  models: {
    apis: [],
    filter: function(datas) {
      return {};
    }
  },

  view:{
    viewport: Lizard.T("viewportTmpl")
  },
  viewName: 'showLoading',
  controller: '/webapp/demo2.1/webresource/controllers/pageview/showLoading.js'
}
</script>

<script id="viewportTmpl" type="text/lizard-template">
<h2 class="guide-title">实例展示</h2>
<p></p>
<span class="btn-primary js-loading-basic">基本使用</span>
<span class="btn-primary js-loading-text">带文字</span>
<span class="btn-primary js-loading-close">带关闭按钮</span>
</script>
