<!DOCTYPE html>
<html>
<head>
    <title>团队游</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="团队游" />
    <meta name="keywords" content="团队游" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
   

	<link rel="stylesheet" type="text/css" href="http://webresource.c-ctrip.com/styles/h5/common/main.css" />
	<link rel="stylesheet" type="text/css" href="/res/style/group_detail.css">
</head>
<body class="gray" onselectstart="return false">
	<div id="headerview" style="height: 48px;">
		<header></header>
	</div>
	<div id="main">
		<div class="main-frame">
			<div class="main-viewport"></div>
			<div class="main-state"></div>
		</div>	
	</div>
	<div id="footer"></div>

    <script type="text/lizard-config">
        {
            "url_schema": "/vacationlist/{salecity}/{startcity}/{key}",
            "model": {
                "apis":[{
                    url:'http://m.ctrip.com/restapi/vacationapi/product/productsearch',
                    postdata:{"saleCity":2,"startCity":2,"key":"三亚","selectorId":0,"line":1,"start":0,"count":26,"filterLabels":[],"isSale":0,"isPromo":0,"orderType":0,"head":{"cid":"9fe53415-bb8a-63cf-6eb9-5eedd1ac40a3","ctok":"351858059049938","cver":"1.0","lang":"01","sid":"8888","syscode":"09","auth":""}}
                }],
                "filter":function (datas){
                    var ret = {data:datas[0].data};
                    return ret;
                }
            },
            "view":{
                "header": "headTmpl",
                "viewport": "viewportTmpl"
            },
            "controller": "/views/vacationlist.js"
        }
    </script>

    <script id="headTmpl" type="text/lizard-template">
        <div>
            <h1 class="list">上海 - <span class="sum">共63条</span></h1>
        </div>
    </script>

    <script id="viewportTmpl" type="text/lizard-template">
        <div class="register_pro content_list" style="padding:0px">
            <nav class="tpye_tab"
                <%if(!!data.isInApp){ %>style="top:0"<%} %>>
                <li class="<% if(!data.isLocal){ %>on<% } %>">团队线路</li>
                <li class="local <% if(data.isLocal){ %>on<% } %>"><%=data.localCity %>当地</li>
            </nav>
            <div class="product_list_box" style="padding-top:42px">
                <div class="product_list">
                    <%var promotion=['','立减','早订优惠','多人立减','贵宾专享']; %>
                    <%_.each(data.products, function(v,k){%>
                    <ul class="hot_list_tab btn_active" data-pid="<%=v.pId %>s<%=v.departCId %>">
                        <li class="hot_img">
                            <img width="142px" height="80px" src="<% if(v.img && !!v.img.trim()){%><%=v.img%><%}else{ %>http://pic.c-ctrip.com/vacation_v2/h5/group_travel/no_product_pic.png<%} %>">
                        </li>
                        <li class="hot_vacation">
                            <%if(v.isPromo){ %><i class="benefit">惠</i><%} %>
                            <div class="ellipsis"><p class="xname"><%=v.pName%><%if(v.name){ %>&nbsp;·&nbsp;<%=v.name%><%} %></p></div>
                            <div class="price_wrap">
                                <div class="pices">
                                    <%if(!!v.price){ %>
                                    <dfn>¥</dfn>
                                    <span><%=v.price%></span>
                                    起
                                    <%}else{ %>
                                    <span class="font14">实时计价</span>
                                    <%} %>
                                </div>
                                <i class="diamond diamond_<%=v.level %>"></i>
                            </div>
                            <div class="other">
                                <%if(!!v.score){ %><p class="score"><span><%=v.score.toFixed(1) %></span>分</p><%} %>
                                <%if(v.isWifi){ %><i class="wifi"></i><%} %>
                                <div class="float_right">
                                    <%if(v.isCashBack){ %><i class="orange">返</i><%} %>
                                    <%if(!!v.specialTag && !!v.specialTag.trim()){ %> <i class="green"><%=v.specialTag %></i><%} %>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <%})%>
                </div>
                <div class="no_more" style="display:none">没有更多结果了</div>
                <div class="base_loading" style="display:none"><i></i>加载中</div>
                <div class="wireless_failure" style="display:none">
                    <div class="no_wifi">
                        <i class="wifi_ico"></i>
                        <p>网络不给力，请稍后再试试吧</p>
                        <a class="try_again" href="javascript:;">重试</a>
                    </div>
                    <div class="dial_service">
                        <p>或者拨打携程客服电话</p>
                        <a class="dial_btn" href="tel:8008206666">联系客服</a>
                    </div>
                </div>
                <div class="error"
                    <%if(data.products) {%>style="display:none"<%} %>>
                    <i class="error_ico"></i>
                    <p>没有找到符合条件的结果，<br>请修改条件重新查询</p>
                </div>
            </div>
            <div class="footer">
                <ul class="tab_list">
                    <li class="shaixuan <%if(!!data.hasfilter){ %>on<%} %>"<% if(data.isLocal){ %>style="width:50%;"<%} %>>筛选<i class="icon_b <%if(!!data.hasfilter){ %>icon_sx_blue<%}else{ %>icon_sx_hui<%} %>"></i></li>
                    <%if(!data.isLocal){ %>
                    <%var allpro=['全部产品','团队游','半自助游','目的地参团']; %>
                    <li class="allpro <% if(!!data.searchType){%>on<%} %>">
                        <%=allpro[data.searchType] %><i class="icon_b <% if(!!data.searchType){%>icon_all_blue<%}else{%>icon_all_hui<%} %>"></i>
                        <dl class="hide_div" style="display:none">
                            <%_.each(allpro, function(v,k){ %>
                            <dd<%if(k==data.searchType){ %>class="on"<%} %>><%=v %></dd>
                            <%}) %>
                        </dl>
                    </li>
                    <%} %>
                    <%var crecommend=['携程推荐','游玩天数','游玩天数','价格','价格']; %>
                    <li class="crecommend"
                        <% if(data.isLocal){ %>style="width:50%;"<%} %>><%=crecommend[data.sortType] %><i class="icon_b <%if(data.sortType==1 || data.sortType==3){ %>icon_top_hui<%}else{ %>icon_bottom_hui<%} %>"></i>
                        <dl class="hide_div" style="display:none">
                            <%_.each(crecommend, function(v,k){ %>
                            <dd<%if(k==data.sortType){ %>class="on"<%} %>><%=v %><i class="<%if(k==1 ||k==3){ %>up<%}else{ %>down<%} %>"></i></dd>
                            <%}) %>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="warp_z" style="display:none"></div>
        </div>
    </script>
	<script type="text/javascript" src="http://localhost/webapp/app2.0/lizard.js"></script>
</body>
</html>
