<article class="wrap">
    <nav class="carbar">
        <!-- <a href="http://m.ctrip.com/market/carad.html?title=%E6%89%8B%E6%9C%BA%E9%A2%84%E5%AE%9A%E4%B8%93%E8%BD%A6%E6%8E%A5%E9%80%81&type=ad"> -->
        <div data-hash="market" id="adview"></div>
        <script type="text/javascript">
            (function ($) {
                var carbarimg = $('#carbar-img'),
                    body = $(document.body),
                    width = body.width(),
                    height = width / 6.4;
                carbarimg.css({height:height+'px'});
                setTimeout(function () {
                    carbarimg.css({ height:  'auto' });
                }, 200);
            })($);

        </script>
        </nav>
    <section class="newcarbox" lazyTap="true">        
        <!--<h2 class="taxitit">便捷打车</h2>
        <ul class="list_st_border carlist newtaxi market-words"> 
            <li data-hash="taxioncall"><label>打车随叫随到<p  data-btype="16" class="ellips"></p></label><i class="m">&nbsp;</i><i class="newarr_r"></i></li>
            <li data-hash="sentairport"><label>打车送机<p   data-btype="32" class="ellips"></p></label><i class="m">&nbsp;</i><i class="newarr_r"></i></li>
        </ul>-->
        <!--<h2 class="taxitit">专享用车</h2>>-->
        <ul class="list_st_border carlist newcar market-words mt10"  lazyTap="true"> 
            <!--<li  data-hash="pickonair"><label>专车接机／接火车<p  data-btype="2" class="ellips"></p></label><i class="m">&nbsp;</i><i class="newarr_r"></i></li>
            <li  data-hash="seeoff"><label>专车送机／送火车<p  data-btype="4" class="ellips"></p></label><i class="m">&nbsp;</i><i class="newarr_r"></i></li>-->
            <li data-hash="rent"><label>专车日租／时租<p  data-btype="1" class="ellips"></p></label><i class="m">&nbsp;</i><i class="newarr_r"></i></li>
        </ul>
    </section>
</article>
