<article class="wrap">
<section class="p10">
    <ul class="list_st_border carlist airport hour" lazyTap="true">
        <li id="c-rent-city" ><label>用车城市</label><em>上海</em><i class="newarr_r"></i></li> 
        <li id="c-rent-type" lazyTap="true"><label>类型</label><em class="smalltab"><span data-type="2" class="current shizu">时租</span><span data-type="1" class="nocar rizu">日租</span></em></li>
        <li id="c-rent-useTime"><label>用车时间</label><em>请选择用车时间</em><i class="newarr_r"></i></li>
        <li id="c-rent-useLong"><label>用车时长</label><em>请选择用车时长</em><i class="newarr_r"></i></li>
    </ul>
    <nav class="searchbom"><span class="btn" id="c-rent-query">查询</span></nav>
</section>
</article>