@using System.Configuration;
<script type="text/lizard-config">
{
  url_schema: '/restful',
  viewName: 'restfulDependent',
  model:{
    apis: [
    {
      name: 'api2',
      url: '@ConfigurationManager.AppSettings["restfullApi"]detail/api2',
      postdata: {
        id: Lizard.P('id'),
        key: Lizard.P('key')
      }
    },
    {
      name: 'api3',
      url: '@ConfigurationManager.AppSettings["restfullApi"]detail/api3',
      postdata: {
        id: Lizard.P('id'),
        key: Lizard.P('key')
      },
      //控制api3的请求是否发出，返回true是发出请求
      suspend: function() {
           var api2 = Lizard.D('api2'); //lizard.D请求依赖模块，返回的是api2的接口的数据
           var list = api2.list;
           return list[0].room < 4; //api2请求北京的酒店，如果酒店数目小于4，就请求api3
      }
    }],
    filter: function(datas) {
       var list = [];
       _.each(datas, function(item) {
         if (!item.list) return;
         item.list[0]['key'] = item.key;
         list = list.concat(item.list);
       });
       return {
         list: list
       };
    }
  },
  view:{
    viewport: Lizard.T("viewportTmpl")
  },
  controller: '/webapp/demo2.1/webresource/controllers/restful/dependent.js'
}
</script>
<script id="viewportTmpl" type="text/lizard-template">
  <div>
    <ul>
      <% _.each(list, function(item) { %>
      <li>
        key: <%= item.key %>
        id: <%= item.id %>
        city: <%= item.city %>
      </li>
      <% }) %>
    </ul>
  </div>
</script>