@using System.Configuration;
<script type="text/lizard-config">
{
  url_schema: '/restful',
  viewName: 'restfulIndex',
  model:{
    apis: [
    {
      url: '@ConfigurationManager.AppSettings["restfullApi"]detail/api2',
      postdata: {
        id: Lizard.P('id'),
        key: Lizard.P('key')
      }
    },
    {
      url: '@ConfigurationManager.AppSettings["restfullApi"]detail/api3',
      postdata: {
        id: Lizard.P('id'),
        key: Lizard.P('key')
      }
    }],
    filter: function(datas) {
      // datas[0] <-> 1接口返回的数据
      // datas[1] <-> 2接口返回的数据
       var list = [];
       _.each(datas, function(item) {
         if (!item.list) return;
         item.list[0]['key'] = item.key;
         list = list.concat(item.list);
       });
       return {
         list: list
       };
    }
  },
  view:{
    viewport: Lizard.T("viewportTmpl")
  },
  controller: '/webapp/demo2.1/webresource/controllers/restful/index.js'
}
</script>
<script id="viewportTmpl" type="text/lizard-template">
  <div>
    <ul>
      <% _.each(list, function(item) { %>
      <li>
        key: <%= item.key %>
        id: <%= item.id %>
        city: <%= item.city %>
      </li>
      <% }) %>
    </ul>
  </div>
</script>