body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../订单填写_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:31px;
    top:79px;
    width:320px;
    height:742px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:748px;
}

.u1 {
    position:absolute;
    left:2px;
    top:363px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../订单填写_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:31px;
    top:51px;
    width:320px;
    height:20px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:26px;
}

.u3 {
    position:absolute;
    left:2px;
    top:2px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../订单填写_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:35px;
    top:63px;
    width:2px;
    height:3px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:9px;
}

.u5 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../订单填写_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:43px;
    top:61px;
    width:2px;
    height:5px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:11px;
}

.u7 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../订单填写_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:39px;
    top:61px;
    width:2px;
    height:4px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:10px;
}

.u9 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../订单填写_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:47px;
    top:59px;
    width:2px;
    height:7px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:13px;
}

.u11 {
    position:absolute;
    left:2px;
    top:-4px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../订单填写_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:51px;
    top:57px;
    width:2px;
    height:9px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:15px;
}

.u13 {
    position:absolute;
    left:2px;
    top:-4px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:57px;
    top:55px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:117px;
    top:53px;
    width:209px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../订单填写_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:327px;
    top:57px;
    width:18px;
    height:9px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:15px;
}

.u17 {
    position:absolute;
    left:2px;
    top:-4px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../订单填写_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:345px;
    top:59px;
    width:3px;
    height:3px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:9px;
    height:9px;
}

.u19 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../订单填写_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:31px;
    top:71px;
    width:320px;
    height:44px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:50px;
}

.u21 {
    position:absolute;
    left:2px;
    top:11px;
    width:316px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u22_container {
    position:absolute;
    left:33px;
    top:73px;
    width:44px;
    height:42px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:50px;
    height:48px;
}

.u23 {
    position:absolute;
    left:2px;
    top:4px;
    width:40px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_line {
    background-image: url('../订单填写_files/u24_line.png');
}

.u24_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:44px;
}

.u24 {
    position:absolute;
    left:71px;
    top:71px;
    width:10px;
    height:44px;
    
}

.u25_line {
    background-image: url('../订单填写_files/u25_line.png');
}

.u25_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:44px;
}

.u25 {
    position:absolute;
    left:73px;
    top:71px;
    width:10px;
    height:44px;
    
}

.u26 {
    position:absolute;
    left:47px;
    top:129px;
    width:99px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../订单填写_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:46px;
    top:165px;
    width:100px;
    height:80px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:86px;
}

.u28 {
    position:absolute;
    left:2px;
    top:32px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_line {
    background-image: url('../订单填写_files/u29_line.png');
}

.u29_line {
    position:absolute;
    left:0px;
    top:4px;
    width:305px;
    height:3px;
}

.u29 {
    position:absolute;
    left:46px;
    top:249px;
    width:305px;
    height:10px;
    
}

.u30 {
    position:absolute;
    left:46px;
    top:289px;
    width:54px;
    height:54px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:110px;
    top:289px;
    width:225px;
    height:54px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:46px;
    top:263px;
    width:99px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_line {
    background-image: url('../订单填写_files/u33_line.png');
}

.u33_line {
    position:absolute;
    left:0px;
    top:4px;
    width:305px;
    height:3px;
}

.u33 {
    position:absolute;
    left:46px;
    top:151px;
    width:305px;
    height:10px;
    
}

.u34 {
    position:absolute;
    left:46px;
    top:349px;
    width:100px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../订单填写_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:126px;
    top:353px;
    width:15px;
    height:9px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:15px;
}

.u36 {
    position:absolute;
    left:2px;
    top:-4px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../订单填写_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:31px;
    top:379px;
    width:320px;
    height:39px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:45px;
}

.u38 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:46px;
    top:399px;
    width:99px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:46px;
    top:631px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:254px;
    top:631px;
    width:73px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:46px;
    top:674px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:88px;
    top:674px;
    width:253px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../订单填写_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:31px;
    top:781px;
    width:320px;
    height:44px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:50px;
}

.u45 {
    position:absolute;
    left:10px;
    top:12px;
    width:308px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../订单填写_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:261px;
    top:781px;
    width:90px;
    height:44px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:50px;
}

.u47 {
    position:absolute;
    left:2px;
    top:14px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:239px;
    top:793px;
    width:96px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../订单填写_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:261px;
    top:781px;
    width:17px;
    height:44px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:23px;
    height:50px;
}

.u50 {
    position:absolute;
    left:2px;
    top:14px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../订单填写_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:336px;
    top:633px;
    width:5px;
    height:10px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:5px;
    height:10px;
}

.u52 {
    position:absolute;
    left:2px;
    top:-3px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:46px;
    top:433px;
    width:112px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../订单填写_files/u54_normal.png');
}

.u54_container {
    position:absolute;
    left:251px;
    top:425px;
    width:30px;
    height:30px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u55 {
    position:absolute;
    left:2px;
    top:4px;
    width:26px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../订单填写_files/u56_normal.png');
}

.u56_container {
    position:absolute;
    left:311px;
    top:425px;
    width:30px;
    height:30px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u57 {
    position:absolute;
    left:2px;
    top:4px;
    width:26px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../订单填写_files/u58_normal.png');
}

.u58_container {
    position:absolute;
    left:281px;
    top:425px;
    width:30px;
    height:30px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u59 {
    position:absolute;
    left:2px;
    top:6px;
    width:26px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:46px;
    top:521px;
    width:78px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:46px;
    top:565px;
    width:54px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_line {
    background-image: url('../订单填写_files/u62_line.png');
}

.u62_line {
    position:absolute;
    left:0px;
    top:4px;
    width:305px;
    height:3px;
}

.u62 {
    position:absolute;
    left:46px;
    top:503px;
    width:305px;
    height:10px;
    
}

.u63_line {
    background-image: url('../订单填写_files/u63_line.png');
}

.u63_line {
    position:absolute;
    left:0px;
    top:4px;
    width:305px;
    height:3px;
}

.u63 {
    position:absolute;
    left:46px;
    top:547px;
    width:305px;
    height:10px;
    
}

.u64_normal {
    background-image: url('../订单填写_files/u64_normal.png');
}

.u64_container {
    position:absolute;
    left:31px;
    top:597px;
    width:320px;
    height:18px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:24px;
}

.u65 {
    position:absolute;
    left:2px;
    top:1px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_line {
    background-image: url('../订单填写_files/u66_line.png');
}

.u66_line {
    position:absolute;
    left:0px;
    top:4px;
    width:305px;
    height:3px;
}

.u66 {
    position:absolute;
    left:46px;
    top:655px;
    width:305px;
    height:10px;
    
}

.u67_normal {
    background-image: url('../订单填写_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:31px;
    top:707px;
    width:320px;
    height:74px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:80px;
}

.u68 {
    position:absolute;
    left:2px;
    top:29px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:39px;
    top:721px;
    width:302px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:269px;
    top:131px;
    width:72px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:31px;
    top:29px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:38px;
    top:753px;
    width:311px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:46px;
    top:475px;
    width:112px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_line {
    background-image: url('../订单填写_files/u74_line.png');
}

.u74_line {
    position:absolute;
    left:0px;
    top:4px;
    width:305px;
    height:3px;
}

.u74 {
    position:absolute;
    left:46px;
    top:457px;
    width:305px;
    height:10px;
    
}

.u75 {
    position:absolute;
    left:226px;
    top:169px;
    width:125px;
    height:72px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:148px;
    top:169px;
    width:63px;
    height:72px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:31px;
    top:846px;
    width:226px;
    height:51px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../订单填写_files/u78_normal.png');
}

.u78_container {
    position:absolute;
    left:388px;
    top:80px;
    width:118px;
    height:38px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:124px;
    height:44px;
}

.u79 {
    position:absolute;
    left:2px;
    top:10px;
    width:114px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../订单填写_files/u78_normal.png');
}

.u80_container {
    position:absolute;
    left:388px;
    top:128px;
    width:118px;
    height:38px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:124px;
    height:44px;
}

.u81 {
    position:absolute;
    left:2px;
    top:10px;
    width:114px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../订单填写_files/u78_normal.png');
}

.u82_container {
    position:absolute;
    left:388px;
    top:176px;
    width:118px;
    height:38px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:124px;
    height:44px;
}

.u83 {
    position:absolute;
    left:2px;
    top:10px;
    width:114px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:388px;
    top:29px;
    width:275px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:180px;
    top:521px;
    width:161px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:180px;
    top:565px;
    width:161px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:118px;
    top:475px;
    width:208px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../订单填写_files/u88_normal.png');
}

.u88_container {
    position:absolute;
    left:336px;
    top:479px;
    width:5px;
    height:8px;
}

#u88_img {
    position:absolute;
    left:0px;
    top:0px;
    width:5px;
    height:8px;
}

.u89 {
    position:absolute;
    left:2px;
    top:-4px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

