/*common*/
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, em, button { margin:0; padding:0; }
body { background-color: #FFF; font-size:14px; line-height:1.5; font-family:Arial,Roboto,'Droid Sans','Hiragino Sans GB',STXihei,'Microsoft YaHei',sans-serif; color:#000; -webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-text-size-adjust: none;-moz-user-select: none;}
img, fieldset, button { margin:0; padding:0; border:0; }
input, textarea { font-size:12px; }
table { border-collapse:collapse; }
a { color:#000; text-decoration:none; outline:0 none; }
ul li, ol li { list-style:none; }
select { padding:1px; font-family:Arial,Simsun,sans-serif; border:1px solid #CCC; background-color:#FFF; }
.basefix:after { clear:both; content:'.'; display:block; height:0; overflow:hidden; }
.float_left { float:left !important; }
.float_right { float:right !important; }
.invisible { visibility:hidden !important; }
.hidden { display:none; }
.border_none { border:0 none !important; }
.input_error {background-color: #FFF7D9 !important;border-color: #D80000 #E50000 #E50000 #D80000 !important;border-style: solid;}
.input_default { color:#808080 !important; }
.inputSel{ color:#808080 !important;}
/*private*/
header .back_ico:after,header .home_ico:after { background-image:url(http://pic.c-ctrip.com/vacation_v2/h5/group_travel/back_home.png); background-repeat: no-repeat; background-size: 64px auto;}
header{ width: 100%; height: 48px; line-height: 48px; background-color: #1491c5; color: #fff;font-size: 1.4em; position: fixed;left: 0;top: 0;z-index: 99;}
header .back_ico{ float: left; width: 65px; height: 48px; background-color: #15A4D5;position: relative;z-index: 1; }
header .back_ico:after { position: absolute; width: 15px; height: 20px; top: 50%; left: 50%;margin:-10px 0 0 -10px; content: ""; background-position: 1px -1px; }
header .home_ico { float: right; width: 65px; height: 48px;position: relative;z-index: 1;}
header .home_ico:after { position: absolute; width: 20px; height: 20px; top: 50%; left: 50%;margin:-10px 0 0 -10px; content: "";background-position: -25px -1px;text-decoration: none; }
header h1{ position: absolute; left: 0; top: 0; width: 100%; text-align: center;  font-size: 20px; font-weight: normal; }
header h1.list { position: absolute; left: 0; top: 0; width: 100%; text-align: center;  font-size: 20px; font-weight: normal; line-height: 30px;}
header .sum {font-size: 20px; font-weight: normal; font-size:14px; line-height: 14px; display: block;}
header .righthead {height: 48px;line-height: 48px;font-size: 14px; padding: 0 10px;background: #15a4d5;color: #fff; overflow: visible !important; display: block; float:right; position: relative;z-index: 1;}

.gray {background-color: #f5f5f5;}

.city_depart .tit:before, .city_arrive .tit:before, .city_depart .tit:after, .city_depart .tit:after, .city_arrive .tit:after, .btn_org i, .search_box:before, .search_box .clear_input, .item_select li.cur:after, .filter_item li div.no_xian:after, .filter_item .btn_on, .filter_item .btn_off, .icon_b, .error .error_ico, .hide_div i {background-image:url(http://pic.c-ctrip.com/vacation_v2/h5/group_travel/un_search.png); background-repeat: no-repeat; background-size: 74px auto;}

.base_loading i, .wireless_failure .no_wifi .wifi_ico,.wireless_failure .no_wifi:before,.wireless_failure .dial_service .dial_btn:before { background-image:url(http://pic.c-ctrip.com/vacation_v2/h5/group_travel/un_detail.png); background-repeat: no-repeat; background-size: 104px auto;}

.content {padding-top: 48px;}
.search_content {padding-top:42px;}
.content_list {padding:48px 0 45px;}


/*************查询页*************/
.inquiry {padding: 10px;}
.inquiry .zero_box {width:100%; overflow: hidden;}
.zero_box .city_depart {float:left; width:49%; margin-right:2%;}
.city_depart .tit:before {content: "";position: absolute; top: 50%;margin-top: -7.5px;left: 10px;width: 13px; height: 13px; background-position: 0px 0px;}
.zero_box .city_arrive {float:right; width:49%;}
.city_arrive .tit:before {content: "";position: absolute; top: 50%;margin-top: -6.5px;left: 10px;width: 13px; height: 13px; background-position: -19px 0px;}
.city_depart .tit:after, .city_arrive .tit:after {content: "";position: absolute; top: 50%;margin-top: -5px;right: 10px;width: 6px; height: 10px; background-position: -36px 0px;}
.zero_box dd .tit {padding: 10px 16px 10px 30px; line-height: 18px; font-weight: 700; font-size:20px; background-color: #fff;border: 1px solid #cfcfcf; color:#333; position: relative;}
.btn_org {display: block;width: 50%;height: 45px;line-height: 45px;background: #FF9913;color: #fff;font-size: 18px;margin: auto;text-align: center;-webkit-tap-highlight-color: #ff8c00;}
.btn_org i {display:inline-block; width:20px; height:20px; background-position: 0px -16px; vertical-align: -3px; margin-right:5px;}

.search_header {position: fixed; top:0; left:0; width:100%;}
.search_wrap {position: absolute; overflow: hidden;background: #f7f7f7;border-bottom: 1px solid #e2e2e2; height:41px; width:100%;}
.search_p {padding-right:45px;}
.search_box {border:1px solid #e9e9e9; background: #fff; border-radius:28px; height:28px; padding:0 38px; position: relative; margin-top:6px; margin-left:10px;}
.search_box:before {content: ""; position: absolute; width:19px; height:19px; top:50%; left:10px; margin-top:-9.5px; background-position: -24px -16px;}
.search_box .clear_input {display:block; position: absolute; width:14px; height:14px; top:50%; right:10px; margin-top:-7px; background-position: -47px -17px;}
.search_box input {border:0 none; width:100%; height:28px; line-height:28px; -webkit-box-flex: 1; -moz-box-flex: 1; -o-box-flex: 1; box-flex: 1;}
.cancel {display:inline-block; position: absolute; top:6px; right:10px; height:30px; line-height:30px; color:#0ba2d0;}
.search_history li {height:45px; line-height: 45px; background:#fff; border-bottom:1px solid #e4e4e4; padding-left:15px;font-size:16px;}
.sub_box {font-size:16px; line-height: 40px; text-align: center;}
.re_history {color:#0ba2d0;}
.no_result {color:#666;}


/*************列表页*************/
.tpye_tab {overflow: hidden; border-bottom: 1px solid #cfcfcf;}
.tpye_tab li {float: left; width: 50%; height: 38px;line-height: 38px;font-size: 16px;text-align: center;background: #f7f7f7;color: #808285;border-bottom: 4px solid transparent; list-style:none;}
.tpye_tab li.on {color: #329ECB; border-bottom: 4px solid #1491C5;}
.product_list_box {}
.hot_list_tab {border-bottom: 1px solid #E8EBEF;background-color:#fff;width: 100%;height: 96px;overflow: hidden;font-size: 14px;position: relative;-webkit-tap-highlight-color: #f2f2f2;}
.hot_img {position: absolute; left:0; top:0;}
.hot_img img {width: 70px;height: 70px;margin: 10px;}
.hot_list_tab .hot_vacation {line-height: 22px;padding:10px 10px 10px 90px;}
.name {color: #000;font-weight: bold;font-size: 16px; height:22px; white-space: nowrap;overflow: hidden;text-overflow: ellipsis; }
.intro {color: #666;font-weight: bold;font-size: 14px; height:22px; white-space: nowrap;overflow: hidden;text-overflow: ellipsis; }
.other {overflow:hidden; margin-top:5px; position: relative;}
.data {float:left; width:80px; font-size:14px; font-weight:bold; color:#666; overflow:hidden;}
.pices {position: absolute; top:2px; right:0px; width:140px; text-align: right; overflow:hidden; color:#666;}
.pices em {display: inline-block;background-color: #f90;color: #fff;font-style: normal;padding: 0 2px;height: 15px;line-height: 14px;margin: 2px 5px 0 0px; font-size:12px;vertical-align: 3px;}
.pices dfn {font-family: Arial; font-size:10px; font-style:normal; color:#f90;}
.pices span {font-family: Arial; font-size:18px; color:#f90;}


.footer {position: fixed;bottom: 0;width: 100%;left: 0;z-index: 9999;background-color: #f7f7f7; height:44px;}
.tab_list {border-top:1px solid #dedede; position: absolute; width:100%; }
.tab_list li {float:left; width:33.33%; text-align: center; height:44px; line-height: 44px; color:#666; position: relative; }
.tab_list li.on {color:#0ba2d0;}
.icon_b {display:inline-block; width:10px; height:10px; margin-left:3px; vertical-align: -1px;}
.icon_sx_hui {background-position: 0 -112px;}
.icon_sx_blue {background-position: 0 -96px;}
.icon_all_hui {background-position: -40px -112px;}
.icon_all_blue {background-position: -40px -96px;}
.icon_top_hui {background-position: -13.5px -112px;}
.icon_top_blue {background-position: -13.5px -96px;}
.icon_top_white {background-position: -13.5px -128px;}
.icon_bottom_hui {background-position: -25.5px -112px;}
.icon_bottom_blue {background-position: -25.5px -96px;}
.icon_bottom_white {background-position: -25.5px -128px;}
.hide_div {position: absolute; bottom:56px; left:4%; width:92%; background-color:#fff;}
.hide_div:after {content:""; width:0; height:0; overflow: hidden; position: absolute; border-width:8px; border-style:solid dashed dashed dashed; border-color:#fff transparent transparent transparent; left:50%; bottom:-16px; margin-left:-6px;}
.hide_div dd {text-align: left; padding:0 10px; line-height: 30px; border-top:1px solid #adadae; color:#666; position: relative;}
.hide_div dd:first-child {border:0 none;}
.hide_div dd.on {background-color: #1391c5; color:#fff;}
.hide_div i {position:absolute; right:10px; top: 10px; display:block; width:10px; height:10px;}
.hide_div i.down {background-position: -25.5px -112px;}
.hide_div i.up {background-position: -13.5px -112px;}
.hide_div dd.on i.down {background-position: -25.5px -128px;}
.hide_div dd.on i.up {background-position: -13.5px -128px;}

.base_loading {text-align: center;font-size: 16px;color: #333;line-height: 26px;padding: 40px 0;}
.base_loading i { width: 26px; height: 26px;display: inline-block;vertical-align: middle;background-position: -1px -209px;margin-right: 10px;-webkit-animation: backward_loading 1.2s linear infinite;-moz-animation: backward_loading 1.2s linear infinite;-ms-animation: backward_loading 1.2s linear infinite;animation: backward_loading 1.2s linear infinite; }
.base_loading { text-align: center;font-size: 16px;color: #333;line-height: 26px;padding: 40px 0; }
@-webkit-keyframes backward_loading {
    0% {opacity: 1;-webkit-transform: rotate(0deg)}
    100% {opacity: 1;-webkit-transform: rotate(-360deg)}
}
@-moz-keyframes backward_loading {
	0% {opacity: 1;-moz-transform: rotate(0deg)}
    100% {opacity: 1;-moz-transform: rotate(-360deg)}
}
@-ms-keyframes backward_loading {
    0% {opacity: 1;-ms-transform: rotate(0deg)}
    100% {opacity: 1;-ms-transform: rotate(-360deg)}
}
@keyframes backward_loading {
    0% {opacity: 1;transform: rotate(0deg)}
    100% {opacity: 1;transform: rotate(-360deg)}
}
@-webkit-keyframes forward_loading {
    0% {opacity: 1;-webkit-transform: rotate(0deg)}
    100% {opacity: 1;-webkit-transform: rotate(360deg)}
}
@-moz-keyframes forward_loading {
	0% {opacity: 1;-moz-transform: rotate(0deg)}
    100% {opacity: 1;-moz-transform: rotate(360deg)}
}
@-ms-keyframes forward_loading {
    0% {opacity: 1;-ms-transform: rotate(0deg)}
    100% {opacity: 1;-ms-transform: rotate(360deg)}
}
@keyframes forward_loading {
    0% {opacity: 1;transform: rotate(0deg)}
    100% {opacity: 1;transform: rotate(360deg)}
}

.wireless_failure { padding: 0 4%; }
.wireless_failure .no_wifi { border-bottom: 1px solid #DDD;padding: 120px 0 40px;position: relative; }
.wireless_failure .no_wifi p { text-align: center;font-size: 16px;color: #000;margin-bottom: 10px; }
.wireless_failure .no_wifi .wifi_ico { width: 70px;height: 70px;position: absolute;top:40px;left:50%;margin-left: -35px;background-position: -35px 1px;-webkit-animation:forward_loading 2.8s linear infinite;-moz-animation:forward_loading 2.8s linear infinite;-ms-animation:forward_loading 2.8s linear infinite;animation:forward_loading 2.8s linear infinite; }
.wireless_failure .no_wifi:before { content: "";width: 50px;height: 50px;position: absolute;top:51px;left:50%;margin-left: -25px;background-position: -45px -71px; }
.wireless_failure .no_wifi .try_again { display: block;width: 50%;background-color: #06A2D0;margin: 0 auto;text-align: center;color: #fff;height: 46px;line-height: 46px;font-size: 20px; }
.wireless_failure .dial_service { padding: 30px 0; }
.wireless_failure .dial_service p { font-size: 16px;color: #000;text-align: center;margin-bottom: 10px; }
.wireless_failure .dial_service .dial_btn { display: block;background-color: #F4FDFF;color: #06A2D0;font-size: 18px;height: 38px;line-height: 38px;width: 42%;text-align: center;margin: 0 auto; border:1px solid #06a2d0;}
.wireless_failure .dial_service .dial_btn:before { content: "";display: inline-block;width: 14px;height: 18px;vertical-align: middle;background-position: -8px -51px;margin-right: 6px; }

.error {padding: 120px 4% 40px; position: relative;}
.error .error_ico {display:block; width:55px; height:91px; position: absolute; top:40px; left:50%; margin-left:-27.5px; background-position:0 -140px; }
.error p { font-size: 16px;color: #000;text-align: center;margin-bottom: 10px; }

.no_more {background-color: #F5F5F5;text-align: center;font-size: 16px;color: #333;line-height: 26px;padding: 20px 0;}

.warp_z {position:fixed; width:100%; height:100%; background: rgba(0,0,0,0.2); z-index: 100; top:0; left:0;}

.failure_mask {background: rgba(0,0,0,0.7);position: absolute;width: 80%;z-index: 98;left: 50%;margin-left: -40%;color: #fff;font-size: 18px;text-align: center;padding: 16px 0;border-radius: 6px;}

/*************筛选页*************/
.content_filter {padding:10px;}
.filter_item {border:1px solid #ccc; background-color: #fff; font-weight:bold; font-size:16px;}
.filter_item li {border-bottom:1px solid #ccc; color:#666; padding:10px; position: relative;}
.filter_item li:last-child {border-bottom:0;}
.filter_item li div {width:46px; position: absolute; right:10px; top:0px; padding:10px 0; }
.filter_item li div.no_xian {color:#0ba2d0;}
.filter_item li div.no_xian:after {content: "";position: absolute;top: 50%;margin-top: -4px;right: 0px;width: 6px;height: 10px;background-position: -65px 0px;}
.filter_item .btn_on {display:block; width:45px; height:23px; position: absolute;top: 50%;margin-top: -11.5px;right: 10px;background-position: 0px -40px;}
.filter_item .btn_off {display:block; width:45px; height:23px; position: absolute;top: 50%;margin-top: -11.5px;right: 10px;background-position: 0px -68px;}

.item_select li {height:45px; line-height: 45px; background:#fff; border-bottom:1px solid #e4e4e4; padding-left:15px;font-size:16px; color:#000;}
.item_select li.cur {color:#0ba2d0; position: relative;}
.item_select li.cur:after {content:"";display:block; position: absolute; width:13px; height:13px; top:50%; right:15px; margin-top:-6.5px; background-position: -46px 0;}



.mt20 {margin-top:20px;}